<div class="tittleDetails">
    <h1>Detalles de la orden #{{ datos.idOrdenTrabajo}}</h1>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>

        </thead>
        <tbody>
        <tr>
            <td style="text-align: center" colspan="4"><b>Datos de creación</b></td>
        </tr>
        <tr class="table-group-divider"></tr>


        <tr>
            <td><b>Id de Orden: </b>{{ datos.idOrdenTrabajo}} </td>
            <td><b>Area: </b>{{ datos.nameArea}} </td>
            <td><b>Maquina: </b>{{ datos.nameMaquina}} </td>
            <td><b>Estado: </b>{{ datos.EstadoMaquina}} </td>

        </tr>
        <tr>
            <td colspan="4"><b>Descripción:</b> {{datos.descripcion}}</td>
        </tr>
        <tr>
            <td><b>Estado Orden: </b>{{ datos.Status}} </td>
            <td><b>Prioridad: </b>{{ datos.Prioridad}} </td>
            <td colspan="2"><b>Fecha y hora de creación: </b>{{datos.HoradeCreacion}}</td>
            <td></td>

        </tr>
        <tr>
            <td style="text-align: center" colspan="4"><b>Comentarios Orden</b></td>
        </tr>
        <tr class="table-group-divider"></tr>

        {{#each comentario}}
            <tr>
                <td colspan="2"><b>Estatus: </b>{{nameStatus}}</td>
                <td colspan="2"><b>Comentario: </b> {{comentario}}</td>
            </tr>
        {{/each}}
        <tr>
            <td style="text-align: center" colspan="4"><b>Suministros</b></td>
        </tr>
        <tr class="table-group-divider"></tr>
        {{#if suministro}}
            <tr>
            {{#each suministro}}
                <tr>
                    <td colspan="2"><b>Nombre Producto: </b>{{ nameProducto}}</td>
                    <td colspan="2"><b>Cantidad: </b>{{cantidad}}</td>

                </tr>
            {{/each}}
            </tr>
        {{else}}
            <tr>
                <td style="text-align: center" colspan="4">Aún no se agregan suministros a esta orden</td>
            </tr>
        {{/if}}
        <tr>
            <td style="text-align: center" colspan="4"><b>Tecnicos Orden</b></td>
        </tr>
        <tr class="table-group-divider"></tr>
        {{#if tecnicosOrden}}
            {{#each tecnicosOrden}}
                <tr>
                    <td colspan="2"><b>Nombre: </b>{{fullname}}</td>
                    <td colspan="2"><b>Especialidad: </b>{{nameEspecialidad}}</td>
                </tr>
            {{/each}}
            <tr>
                <td style="text-align: center" colspan="4"><b>Fechas Asignadas</b></td>
            </tr>
            <tr class="table-group-divider"></tr>
            {{#if fecha}}
                <tr>
                    <td colspan="2"><b>Fecha Inicio: </b> {{fecha.fechaInicio}}</td>
                    <td colspan="2"><b>Fecha Final: </b>{{fecha.fechaFinal}}</td>
                </tr>
            {{/if}}



        {{else if tecnicosOrdenExterna}}
            <tr>
                <td style="text-align: center" colspan="4"><b>Orden Externa Información</b></td>
            </tr>
            <tr class="table-group-divider"></tr>

            {{#each proveedor}}
                <tr>
                    <td colspan="2"><b>Prestador de servicios: </b>{{nameProveedor}}</td>
                    <td><b>Mantenimiento: </b>{{nameTipoMantenimiento}}</td>
                    <td colspan="2"><b>Hora de Asignación: </b>{{create_at}}</td>
                </tr>
            {{/each}}
            {{#each fechasOrden}}
                <tr>
                    <td style="text-align: center" colspan="4"><b>Fechas Asignadas</b></td>
                </tr>
                <tr class="table-group-divider"></tr>

                <tr>
                    <td colspan="2"><b>Fecha Inicio: </b> {{fechaInicio}}</td>
                    <td colspan="2"><b>Fecha Final: </b>{{fechaFinal}}</td>
                </tr>
            {{/each}}


            <tr>
                <td style="text-align: center" colspan="4"><b>Tecnicos Orden Externa</b></td>
            </tr>
            <tr class="table-group-divider"></tr>

            {{#each tecnicosOrdenExterna}}
                <tr>
                    <td colspan="2"><b>Nombre del Técnico: </b>{{fullname}}</td>
                    <td colspan="2"><b>Especialidad Técnico: </b>{{nameEspecialidad}}</td>
                </tr>
            {{/each}}

        {{else}}
            <tr>
                <td colspan="2"><b>Aún no se agregan Tecnicos a la orden </b></td>
                <td><a href="/tecnico/{{datos.idOrdenTrabajo}}" class="btn btn-primary">Asignar Tecnicos</a></td>
            </tr>
        {{/if}}

        {{#when datos.idStatus 'eq' 3 }}
            <tr>
                <td colspan="4">
                    <button class="btn btn-primary" data-bs-target="#modalll1" data-bs-toggle="modal">Ver Acciones
                    </button>
            </tr>
        {{/when}}

        {{#when datos.idStatus 'eq' 4 }}
            <tr>
                <td>
                    <button class="btn btn-primary" data-bs-target="#modalll2" data-bs-toggle="modal">Ver Acciones
                    </button>
                </td>
            </tr>
        {{/when}}


        </tbody>
    </table>
</div>


<div class="modal fade" id="modalll1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: flex; margin: 0 auto;text-align: center">
                <div class="card" style="width: 18rem;">

                    <lord-icon
                            src="https://cdn.lordicon.com/hbigeisx.json"
                            trigger="loop"
                            delay="300"
                            style="width:150px;height:150px">
                    </lord-icon>
                    <div class="card-body">
                        <h5 class="card-title">Atender</h5>
                        <p class="card-text">¿Todo listo?, reunete con tu compañero asignado y a trabajar!</p>
                        <form action="/attendTecnico" method="post" id="attendTecnico">
                            <button type="submit" class="btn btn-primary">Atender</button>
                            <input type="hidden" value="4" name="status">
                            <input type="hidden" value="{{datos.idOrdenTrabajo}}" name="orden">

                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
<div class="modal fade" id="modalll2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="display: flex; margin: 0 auto;text-align: center">
                <div class="card" style="width: 18rem;">
                    <lord-icon
                            src="https://cdn.lordicon.com/kulwmpzs.json" trigger="loop"
                            delay="300"
                            style="width:150px;height:150px">
                    </lord-icon>
                    <div class="card-body">
                        <h5 class="card-title">Terminar y Agregar Comentarios</h5>
                        <p class="card-text">Si al presente orden ha sido terminada porfavor marcala como culminada, el
                            Lider Mantenimiento revisará la orden y la cerrará. No olvides dejar un comentario.</p>
                        <form action="/finishTecnico" method="post" id="attendTecnico">
                            <textarea class="form-control" name="comentarioTecnico" id="" cols="30" rows="10"
                                      placeholder="¿Existió alguna anomalía o algo que desees agregar antes de cerrar este orden?"
                                      required></textarea>
                            <input type="hidden" value="5" name="status">
                            <input type="hidden" value="{{datos.idOrdenTrabajo}}" name="orden">
                            <button type="submit" class="btn btn-primary">Culminada</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

