<div class="formulario">

    <div class="container">
        <h2>Datos de la Orden</h2>
    </div>

    <div class="row col4">
        <div class="col-md">
            <label>Nr de orden</label>
            <input type="text" value="{{orden.id}}" class="form-control" name="idOrden" readonly required>
        </div>

        <div class="col-md">
            <label for="floatingInput">Hora de Creación</label>
            <input type="time" value="{{orden.hora}}" class="form-control" name="hora" placeholder="hora" readonly>
        </div>
        <div class="col-md">
            <label for="floatingInput">Fecha de la Creación</label>
            <input type="date" value="{{fecha.fecha}}" min="1997-01-01" max="2030-12-31" class="form-control"
                   name="prioridad" placeholder="Id" readonly>
        </div>

    </div>


    <div class="row g-2 mb-3">

        <div class="col-md">
            <label for="floatingInput">Nombre Creó</label>
            <p class="form-control" name="fullname" placeholder="Nombre Creó" readonly
               required>{{orden.fullname}}</p>
        </div>
        <div class="col-md ">
            <label for="floatingInput">Prioridad de la orden</label>
            <input type="text" value="{{orden.prioridad}}" class="form-control" name="prioridad" placeholder="Id"
                   readonly required>

        </div>

        <div class="row g-2 mb-3">
            <div class="col-md">

                <label for="">Area Destinada</label>
                <input type="text" value="{{orden.area}}" class="form-control" name="area" placeholder="Id" readonly
                       required>

            </div>
            <div class="col-md">
                <label for="">Maquina Destinada</label>
                <input type="text" value="{{orden.maquina}}" class="form-control" name="Maquina" placeholder="Id"
                       readonly required>
            </div>


        </div>

        <div>
            <div class="col-md">
                <label for="floatingInput">Descripción del problema</label>
                <textarea class="form-control cajas-texto" name="descripcion" placeholder="Descripción" readonly
                          required>{{orden.descripcion}}</textarea>
            </div>
        </div>
        <!--
        <div>
            <div class="col-md">
                <label for="floatingInput">Comentarios/Observaciones Supervisor</label>
                <textarea id="descripcion" type="text" class="form-control cajas-texto" name="comentariosSupervisor"
                          placeholder="Comentarios" readonly required>{{orden.comentariosSupervisor}}</textarea>
            </div>
        </div>
        -->

        <div class="row g-2 mb-3 ">
            <div class="col-md">
                <label for="">Tecnico Asignado #1</label>
                    <input type="text" value="{{tecnico1.tecnico1}}" class="form-control" name="Maquina" placeholder="Id"
                           readonly required>
            </div>
            <div class="col-md">
                <label for="">Tecnico Asignado #2</label>
                    <input type="text" value="{{tecnico2.tecnico2}}" class="form-control" name="Maquina" placeholder="Id"
                           readonly required>

            </div>


        </div>

        <div class="row mb-3">

            <div class="col-md ">
                <div class="form">
                    <label for="">Ayudante Asignado #1</label>
                    <input type="text" value="{{ayudante1.ayudante1}}" class="form-control" name="Maquina" placeholder="Id"
                           readonly required>
                </div>
            </div>
            <div class="col-md ">
                <div class="form">
                    <label for="">Ayudante Asignado #2</label>
                    <input type="text" value="{{ayudante2.ayudante2}}" class="form-control" name="Maquina" placeholder="ayudante1"
                           readonly required>

                </div>
            </div>
            <div class="col-md">
                <div class="col">
                    <label for="floatingSelectGrid">Tipo de Mantenimiento</label>
                    <input type="text" value="{{datosAdicionales.nameTipoMantenimiento}}" class="form-control" name="Maquina" placeholder="nameTipoMantenimiento"
                           readonly required>

                </div>
            </div>

            <div class="form-floating mb-3">

            </div>
            <div class="col-md">
                <div class="form-floating">

                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md">
                <label for="floatingInput">Descripción del Trabajo a Realizarse</label>
                <textarea id="descripcion" type="text" class="form-control cajas-texto" name="comentariosSupervisor"
                          placeholder="descripcionMantenimiento" readonly required>{{datosAdicionales.descripcionMantenimiento}}</textarea>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="">
                    <label for="">Fecha Inicio Asignada</label>
                    <input type="date" value="{{datosAdicionales.fechaInicio}}" min="1997-01-01" max="2030-12-31" class="form-control"
                           name="prioridad" placeholder="fechaHoraInicio" readonly>

                </div>
                <div class="">
                    <label for="">Hora Inicio Asignada</label>
                    <input type="time" value="{{datosAdicionales.horaInicio}}" class="form-control" name="hora" placeholder="hora" readonly>

                </div>
            </div>
            <div class="col-md">
                <div class="">
                    <label for="">Fecha Final Prevista</label>
                    <input type="date" value="{{datosAdicionales.fechaFinal}}" min="1997-01-01" max="2030-12-31" class="form-control"
                           name="prioridad" placeholder="fechaHoraFinal" readonly>
                </div>
                <div class="">
                    <label for="">Fecha/Hora Final Prevista</label>
                    <input type="time" value="{{datosAdicionales.horaFinal}}" class="form-control" name="hora" placeholder="hora" readonly>

                </div>
            </div>
        </div>

    </div>

    <form action="/orden/viewT/{{orden.id}}" method="post">

        <div class="form-floating mb-3">
                    <textarea id="descripcionVO" type="text" class="form-control" name="comentariosTecnico"
                              placeholder="Comentarios" required></textarea>
            <label for="floatingInput">Comentarios</label>
        </div>
        <input type="hidden" value="{{orden.id}}" class="form-control" name="id_orden">

        <div class="">
            <button class="btn btn-success btn-block"> Atender </button>
        </div>
    </form>

</div>



