<div class="container">

    {{#each ordenes}}
    <form action="/addsuministros/{{idOrdenTrabajo}}" id="form" class="formTecnicos" id="" method="post">
        <div class="este">
            <h1 style="text-align: center">Asignar Suministros a la orden Nr#  {{idOrdenTrabajo}}</h1>

        </div>
    {{/each}}


    <div class="row g-2 mb-3 tecnicosAl">
        <div class="col-md">

            <div id="divPadre">
                <select class="form-select" name="producto" id="producto" required>
                    <option value="null" disabled selected> Selecciona un item de la Lista</option>
                    {{#each suministros}}
                        <option value="{{idProducto}}">{{nameProducto}}</option>
                    {{/each}}
                </select>
                <div class="form-floating mb-3">
                    <input id="descripcionAO" type="number" class="form-control" name="cantidad"
                           required placeholder="Descripción" >
                    <label for="floatingInput">Cantidad</label>
                </div>
            </div>

            <div id="selectsTecnico"></div>

        </div>
        <div class="col-1 botonAgregarT">
            <a class="btn btn-dark" href="#" onclick="duplicar1();"> +</a>
        </div>

    </div>

    <button class="btn btn-primary" type="submit" onclick="validate();">Enviar</button>
    <a href="javascript:history.back()" class="btn btn-secondary" type="submit" onclick="validate();">Volver</a>
</form>

    {{#if productosOrdenes}}


    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h1 style="padding: 20px">Suministros en la orden</h1>
                    <table id="table1" class="display">
                        <thead>
                        <tr>
                            <th><h6>Producto</h6></th>
                            <th><h6>Cantidad</h6></th>
                            <th><h6>Acción</h6></th>

                        </tr>

                        </thead>

                        <tbody class="list" id="tab">

                        {{#each productosOrdenes }}

                            <tr>

                                <td class="">
                                    <div class="">
                                        <div class="">
                                            <p>{{nameProducto}}</p>
                                        </div>
                                    </div>
                                </td>


                                <td class="area">
                                    <p>{{cantidad}}</p>
                                </td>

                                <td class="area">
                                    <form action="/deleteItem/{{idOrdenProducto}}" method="post">
                                        <input type="hidden" name="idOrdenProducto" value="{{idOrdenProducto}}">
                                        <input type="hidden" name="idOrden" value="{{idOrden}}">
                                        <button class="btn btn-danger" type="submit">Eliminar</button>
                                    </form>
                                </td>

                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


    </div>

</div>
    {{else}}
        <p >Aún no se agregan suministros a la orden</p>
    {{/if}}








