{{#when idRol 'eq' 2 }}
<div class="container">

{{#each ordenes}}
    <form action="/addsuministros/{{idOrdenTrabajo}}" id="form" class="formTecnicos needs-validation" novalidate id=""
          method="post">
        <div class="este">
            <h1 style="text-align: center">Asignar Suministros a la orden Nr#  {{idOrdenTrabajo}}</h1>

        </div>
{{/each}}


    <div class="row g-2 mb-3 tecnicosAl">
        <div class="col-md">
            <div id="divPadre">
                <div class="container">
                    <div class="row align-items-start">

                        <div class="col">
                            <label for="producto" class="form-label">Item</label>
                            <select class="form-select" id="producto" name="producto" required>
                                <option selected disabled value="">Selecciona un item de la Lista</option>
                                {{#each suministros}}
                                    <option value="{{idProducto}}">{{nameProducto}}</option>
                                {{/each}}
                            </select>
                            <div class="invalid-feedback">
                                Por favor selecciona un item
                            </div>
                        </div>
                        <div class="col">
                            <label for="descripcionAO" class="form-label">Cantidad</label>
                            <input type="number" class="form-control" name="cantidad" id="descripcionAO" required
                                   placeholder="Cantidad">
                            <div class="invalid-feedback">
                                Ingresa una cantidad
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="selectsTecnico"></div>

        </div>
        <!--
        <div class="col-1 botonAgregarT">
            <a class="btn btn-dark" href="#" onclick="duplicar1();"> +</a>
        </div>
-->
    </div>

    <button class="btn btn-primary" type="submit" onclick="validate();">Enviar</button>
    <a href="/ordenesaprobadas" class="btn btn-secondary" type="submit" onclick="validate();">Volver</a>
</form>

{{#if productosOrdenes}}


        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h1 style="padding: 20px">Suministros en la orden</h1>
                        <table id="table1" class="display">
                            <thead>
                            <tr>
                                <th><h6>Producto</h6></th>
                                <th><h6>Cantidad</h6></th>
                                <th><h6>Acción</h6></th>

                            </tr>

                            </thead>

                            <tbody class="list" id="tab">

                            {{#each productosOrdenes }}

                                <tr>

                                    <td class="">
                                        <div class="">
                                            <div class="">
                                                <p>{{nameProducto}}</p>
                                            </div>
                                        </div>
                                    </td>


                                    <td class="area">
                                        <p>{{cantidad}}</p>
                                    </td>

                                    <td class="area">
                                        <form action="/deleteItem/{{idOrdenProducto}}" method="post">
                                            <input type="hidden" name="idOrdenProducto" value="{{idOrdenProducto}}">
                                            <input type="hidden" name="idOrden" value="{{idOrden}}">
                                            <button class="btn btn-danger" type="submit">Eliminar</button>
                                        </form>
                                    </td>

                                </tr>
                            {{/each}}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>


        </div>

    </div>
{{else}}
    <h1 style="text-align: center">Aún no se agregan suministros a la orden</h1>
{{/if}}
{{/when}}
{{#when idRol 'eq' 8 }}
    <div class="container">

    {{#each ordenes}}
        <form action="/addsuministros/{{idOrdenTrabajo}}" id="form" class="formTecnicos needs-validation" novalidate id=""
              method="post">
            <div class="este">
                <h1 style="text-align: center">Designar Suministros a la orden Nr#  {{idOrdenTrabajo}}</h1>

            </div>
    {{/each}}


        <div class="row g-2 mb-3 tecnicosAl">
            <div class="col-md">
                <div id="divPadre">
                    <div class="container">
                        <div class="row align-items-start">

                            <div class="col">
                                <label for="producto" class="form-label">Item</label>
                                <select class="form-select" id="producto" name="producto" required>
                                    <option selected disabled value="">Selecciona un item de la Lista</option>
                                    {{#each suministros}}
                                        <option value="{{idProducto}}">{{nameProducto}}</option>
                                    {{/each}}
                                </select>
                                <div class="invalid-feedback">
                                    Por favor selecciona un item
                                </div>
                            </div>
                            <div class="col">
                                <label for="descripcionAO" class="form-label">Cantidad</label>
                                <input type="number" class="form-control" name="cantidad" id="descripcionAO" required
                                       placeholder="Cantidad">
                                <div class="invalid-feedback">
                                    Ingresa una cantidad
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="selectsTecnico"></div>

            </div>
            <!--
            <div class="col-1 botonAgregarT">
                <a class="btn btn-dark" href="#" onclick="duplicar1();"> +</a>
            </div>
    -->
        </div>

        <button class="btn btn-primary" type="submit" onclick="validate();">Enviar</button>
        <a href="/ordenesaprobadas" class="btn btn-secondary" type="submit" onclick="validate();">Volver</a>
    </form>

    {{#if productosOrdenes}}


            <div class="tables-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-style mb-30">
                            <h1 style="padding: 20px">Suministros en la orden</h1>
                            <table id="table1" class="display">
                                <thead>
                                <tr>
                                    <th><h6>Id Producto</h6></th>
                                    <th><h6>Producto</h6></th>
                                    <th style="width: 10%"><h6>Cantidad Solicitada</h6></th>
                                    <th><h6>Stock</h6></th>
                                    <th style="width: 10%"><h6>Cantidad Entregada</h6></th>
                                    <th><h6>Entregar</h6></th>

                                </tr>

                                </thead>

                                <tbody class="list" id="tab">
                                {{#each productosOrdenes }}
                                    <tr>
                                        <td class="">
                                            <p>{{idProducto}}</p>
                                        </td>
                                        <td class="" style="width: 40%">
                                            <p>{{nameProducto}}</p>
                                        </td>
                                        <td class="area">
                                            <p>{{cantidad}}</p>
                                        </td>
                                        <td class="area">
                                            <p>{{saldo}}</p>
                                        </td>
                                        <td class="area">
                                            <input type="number" class="form-control" >
                                        </td>
                                        <td class="">
                                            <a class="btn btn-success" href="">Enviar</a>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>


            </div>

        </div>
    {{else}}
        <h1 style="text-align: center">Aún no se agregan suministros a la orden</h1>
    {{/if}}
{{/when}}



{{#each saldo }}
    {{saldo}}
{{/each}}


