<div class="container">

    {{#each ordenes}}
    <form action="/tecnico/{{idOrdenTrabajo}}" id="form" class="formTecnicos needs-validation" novalidate id="" method="post">


        <div class="este">
            <h1 style="text-align: center">Asignar Tecnicos y Fechas a orden Nr#  {{idOrdenTrabajo}}</h1>

        </div>
    {{/each}}


    <div class="row g-2 mb-3 tecnicosAl">
        <div class="col-md">

            <div id="divPadre">
                <select class="form-select" name="idTecnico" id="nombreTecnico" required>
                    <option disabled selected value=""> Selecciona un tecnico de la Lista</option>
                    {{#each tecnico}}
                        <option value="{{idUser}}">{{fullname}}</option>
                    {{/each}}
                </select>
                <div class="invalid-feedback">
                    Selecciona uno o m치s tecnicos porfavor
                </div>

            </div>
            <div id="selectsTecnico"></div>

        </div>
        <div class="col-1 botonAgregarT">
            <a class="btn btn-dark" href="#" onclick="duplicar1();"> +</a>
        </div>

    </div>
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form">
                <label for="">Fecha Inicio (Prevista)</label>
                <input name="fechaInicioPre" type="datetime-local" class="form-control" required>
                <div class="invalid-feedback">
                    Selecciona una fecha de inicio!
                </div>
            </div>
        </div>
        <div class="col-md ">
            <div class="form">
                <label for="">Fecha Final (Prevista)</label>
                <input name="fechaFinalPre" type="datetime-local" class="form-control" required>
                <div class="invalid-feedback">
                    Selecciona una fecha final!
                </div>
            </div>
        </div>
    </div>
    <div class=" mb-3">
        <select class="form-select" name="tipoMantenimiento" id="tipoMantenimiento" required>
            <option value="" selected disabled>Selecciona el tipo de mantenimiento</option>
            {{#each tipoMantenimiento}}
                <option value="{{idTipoMantenimiento}}">{{nameTipoMantenimiento}}</option>
            {{/each}}
        </select>
        <div class="invalid-feedback">
            Selecciona el tipo de mantenimiento!
        </div>
    </div>
    <div class="mb-3">
        <label for="a">Ingrese la descripci칩n del trabajo a realizarse</label>
        <textarea class="form-control" name="descripcionTrabajo" id="a" cols="15" rows="10"
                  placeholder="Se lo m치s especifico que puedas, ayudanos a entenderte." required></textarea>
        <div class="invalid-feedback">
            Ingrese la descripci칩n del trabajo.
        </div>
    </div>
    <input type="hidden" name="idStatus" value="3">


    <button class="btn btn-primary" type="submit" onclick="validate();">Enviar</button>
</form>

</div>








