<div class="formulario">

    {{#each ordenes}}
        <div class="container">
            <h2>Agregar Datos de Proveedor #{{idOrdenTrabajo}}</h2>
        </div>


    <form action="/trabajoexterno/{{idOrdenTrabajo}}" method="post">{{/each}}


    <div class="row ">
        <div class="col-md">
            <div class="form">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form mb-3">
                            <label for="proveedor" class="form-floating">Proveedor</label>
                            <select name="proveedor" id="proveedor" class="form-select" required>
                                <option value="null" selected>Selecciona una por favor</option>
                                {{#each proveedor}}
                                    <option value="{{idProveedor}}" name="{{nameProveedor}}">{{nameProveedor}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form mb-3">
                            <label for="tipoTrabajo" class="form-floating">Tipo Trabajo</label>
                            <select name="tipoTrabajo" id="tipoTrabajo" class="form-select" required>
                                {{#each tipoTrabajo}}
                                    <option value="{{idTipoTrabajo}}" name="{{nameTipoTrabajo}}">{{nameTipoTrabajo}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row g-2 mb-3 tecnicosAl">
                    <div class="col-md">

                        <div id="divPadre">
                            <select class="form-select" name="tecnico" id="nombreTecnico">
                                <option value="null" selected> Selecciona un tecnico de la Lista</option>
                                {{#each tecnico}}
                                    <option value="{{idUser}}">{{fullname}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div id="selectsTecnico"></div>

                    </div>
                    <div class="col-1 botonAgregarT">
                        <a class="btn btn-dark" href="#" onclick="duplicar1();"> +</a>
                    </div>

                </div>
                <div class=" mb-3">
                    <select class="form-select" name="tipoMantenimiento" id="tipoMantenimiento">
                        <option value="null" selected>Tipo Mantenimiento</option>
                        {{#each tipoMantenimiento}}
                            <option value="{{idTipoMantenimiento}}">{{nameTipoMantenimiento}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="datetime-local" class="form-control" id="floatingInput" name="fechaInicioTE" placeholder="Fecha Inicio Trabajo" required>
                            <label for="floatingInput">Fecha Inicio Trabajo</label>
                        </div>
                    </div>


                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="datetime-local" class="form-control" id="floatingInput"
                                   placeholder="Fecha Final Trabajo" name="fechaFinalTE" required>
                            <label for="floatingInput">Fecha Final Trabajo</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="">Descripción/Comentarios del trabajo a realizarse</label>
                <textarea id="descripcionAO" type="text" class="form-control" name="descripcionTrabajo" cols="15" rows="10"
                          required placeholder="Se lo más especifico que puedas, ayudanos a entenderte."></textarea>
            </div>



        </div>
        <div class="inputsHidden">
            <input type="hidden" value="7" name="idStatus"/>
        </div>
    </div>


    <div class="form-group boton-send">
        <input type="submit" class="btn btn-success btn-block" id="">
    </div>


</form>

</div>


</div>


<script>
</script>
