
<div class="tables-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <!--<h6 class="mb-10">Data Table</h6>-->

                <h1 style="padding: 20px">Todas Ordenes Fabricación Abiertas</h1>


                <table id="table" class="display">
                    <thead>
                    <tr>
                        <th><h6>Id Orden</h6></th>
                        <th><h6>Turno</h6></th>
                        <th><h6>Maquinaria</h6></th>
                        <th><h6>Material</h6></th>
                        <th><h6>Responsable</h6></th>
                        <th><h6>Estatus</h6></th>
                        <th><h6 style="text-align: center">Acciones</h6></th>
                    </tr>

                    </thead>

                    <tbody class="list" id="tab">
                    {{#each datosOfCreadas}}

                        <tr>
                            <td class="idOrden">

                                        <p>{{idOrdenFabricacion}}</p>

                            </td>
                            <td class="fullname">
                                <p>{{nameTurno}}</p>
                            </td>
                            <td class="area">
                                <p>{{nameMaquinaria}}</p>
                            </td>
                            <td class="estado">
                                <p>{{nameMaterial}}</p>
                            </td>
                            <td class="estado">
                                <p>{{fullname}}</p>
                            </td>
                            <td class="estado">
                                <p>{{nameStatus}}</p>
                            </td>
                            <td style="text-align: center">
                                <div>
                                <form action="/operadormaquina/{{idOrdenFabricacion}}" method="post">
                                    <input type="hidden" value="2" name="idtipoOperador">
                                    <input type="hidden" value="1" name="idTipoMarca">
                                    <a  data-bs-toggle="modal" data-bs-target="#modalAcciones1OF" class="btn btn-primary"><i class="bi bi-info-circle"></i></a>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i></button>

                                </form>

                                </div>
                            </td>
                        </tr>

                    {{/each}}
                    </tbody>
                </table>
                <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


</div>
</div>


    <div class="modal fade" id="modalAcciones1OF" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="margin: 0 auto">

                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/rxufjlal.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px; margin: 0 auto">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Ingresar</h5>
                            <p class="card-text">Al momento que le des a <i class="bi bi-box-arrow-in-right"></i> estás formando parte de esta orden</p>
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Entendido</a>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>




<script>


    window.addEventListener('load', function() {
        /*const table1 = document.getElementById('table1');
        table1.addEventListener('click', (e)=>{
            e.stopPropagation();
            const id=e.target.parentElement.parentElement.children[0].textContent.trim();
            alert(id);
            document.getElementById("ingresar").href="/operadormaquina/"+id;
        });

         */
    });



</script>