{{#when rolusuario 'eq' 5}}
    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <!--<h6 class="mb-10">Data Table</h6>-->

                    <h1 style="padding: 20px">Todas Ordenes Fabricación Terminadas</h1>


                    <table id="table1" class="display">
                        <thead>
                        <tr>
                            <th><h6>Id Orden</h6></th>
                            <th><h6>Fecha</h6></th>
                            <th><h6>Turno</h6></th>
                            <th><h6>Maquinaria</h6></th>
                            <th><h6>Material</h6></th>
                            <th><h6>Rol Orden</h6></th>
                            <th><h6>Kg Procesados</h6></th>
                            <th><h6 style="text-align: center">Acciones</h6></th>
                        </tr>

                        </thead>

                        <tbody class="list" id="tab">
                        {{#each datosofCerradas}}

                            <tr>
                                <td class="">
                                            <p>{{IdOrden}}</p>
                                </td>
                                <td class="">
                                    <p>{{Fecha}}</p>
                                </td>
                                <td class="fullname">
                                    <p>{{Turno}}</p>
                                </td>
                                <td class="area">
                                    <p>{{Maquinaria}}</p>
                                </td>
                                <td class="estado">
                                    <p>{{Material}}</p>
                                </td>
                                <td class="estado">
                                    <p>{{TipoOperador}}</p>
                                </td>
                                <td class="estado">
                                    <p>{{KgProcesados}}Kg</p>
                                </td>

                                <td style="text-align: center">


                                    <a id="viewBtn" href="/detallesofoperador/{{IdOrden}}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>

                                </td>
                            </tr>

                        {{/each}}
                        </tbody>
                    </table>
                    <!-- end table -->
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->


    </div>
    </div>
{{else}}
    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <!--<h6 class="mb-10">Data Table</h6>-->

                    <h1 style="padding: 20px">Todas Ordenes Fabricación Terminadas</h1>


                    <table id="table1" class="display">
                        <thead>
                        <tr>
                            <th><h6>Id Orden</h6></th>
                            <th><h6>Fecha</h6></th>
                            <th><h6>Turno</h6></th>
                            <th><h6>Maquinaria</h6></th>
                            <th><h6>Material</h6></th>
                            <th><h6>Status</h6></th>
                            <th><h6 style="text-align: center">Acciones</h6></th>
                        </tr>

                        </thead>

                        <tbody class="list" id="tab">
                        {{#each datosofCerradas}}

                            <tr>
                                <td class="">

                                            <p>{{idOrdenFabricacion}}</p>

                                </td>
                                <td class="">
                                    <p>{{Fecha}}</p>
                                </td>
                                <td class="fullname">
                                    <p>{{nameTurno}}</p>
                                </td>
                                <td class="area">
                                    <p>{{nameMaquinaria}}</p>
                                </td>
                                <td class="estado">
                                    <p>{{nameMaterial}}</p>
                                </td>
                                <td class="estado">
                                    <p>{{nameStatus}}</p>
                                </td>

                                <td style="text-align: center">


                                    <a href="/detallesof/{{idOrdenFabricacion}}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>

                                </td>
                            </tr>

                        {{/each}}
                        </tbody>
                    </table>
                    <!-- end table -->
                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->


    </div>
    </div>
{{/when}}






<script>
    /*
    const table1 = document.getElementById('table1');
    table1.addEventListener('click', (e)=>{
        e.stopPropagation();
        const id=e.target.parentElement.parentElement.children[0].textContent.trim();
        console.log(id);
        document.getElementById("viewBtn").href="/detallesofoperador/" + id;

    });

     */
</script>