

<div class="formulario">
    <div class="container">
        <h2>Agregar Producto</h2>
    </div>
    <form action="/addproducto" class="needs-validation" novalidate method="post" id="" name="">
        <div class="container">
            <div class="row g-2">
                <div class="col-md">
                    <div class="">
                        <label>Código del Producto</label>
                        <input autocomplete="off" autofocus minlength="7" maxlength="12"  type="text" class="form-control"
                               name="codigo" id="codigo" required placeholder="LLY22577">
                        <div class="invalid-feedback" id="invalid-feedback">

                        </div>
                        <div class="valid-feedback" id="valid-feedback">
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="">
                        <label>Nombre del Producto</label>
                        <input autocomplete="off" minlength="2" maxlength="100" type="text" class="form-control"
                               name="nameProducto" required placeholder="Nombre Producto">
                        <div class="invalid-feedback">
                            Por favor proporciona un codigo de producto
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 10px">
            <div class="row g-2">
                <div class="col-md">
                    <label for="estadoMaquina" class="form-label">Unidad Material</label>
                    <select name="unidad" class="form-select" id="" required>
                        <option selected disabled value="">Escoge la Unidad</option>
                        <option value="GL">GL (Galones)</option>
                        <option value="KG">KG (Kilogramos)</option>
                        <option value="LT">LT (Litros)</option>
                        <option value="MT">MT (Metros)</option>
                        <option value="UN">UN (Unidad)</option>
                    </select>
                    <div class="invalid-feedback">
                        Selecciona una Unidad
                    </div>
                </div>
                <div class="col-md">
                    <div class="">
                        <label>Cantidad del Producto</label>
                        <input autocomplete="off" type="number" class="form-control" name="saldo" required
                               placeholder="Cantidad Producto">
                        <div class="invalid-feedback">
                            Por favor proporciona una cantidad
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md" style="padding-top: 10px">
                <div class="">
                    <label>Descripción/Detalles del Producto (opcional)</label>
                    <textarea name="DetallesProducto" id="" cols="30" rows="2" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group boton-send container" style="padding-top: 10px">
            <input type="submit" class="btn btn-success btn-block" id="sendCodigoProducto" value="Enviar">
            <a class="btn btn-secondary" href="">Agregar Producto a Orden</a>
        </div>


    </form>

</div>


</div>

<div class="container">
    <div class="tables-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-style mb-30">
                    <h1 style="padding: 20px">Productos</h1>
                    <table id="table1" class="display">
                        <thead>
                        <tr>
                            <th><h6>Id Producto</h6></th>
                            <th><h6>Nombre Producto</h6></th>
                            <th><h6>Código</h6></th>
                            <th><h6>Unidad</h6></th>
                            <th><h6>Stock</h6></th>
                            <th style="text-align: center; width: 15%"><h6>Acciones</h6></th>
                            <!--<th><h6 style="text-align: center">Acciones</h6></th>-->
                        </tr>

                        </thead>

                        <tbody class="list" id="tab">

                        {{#each productos}}

                            <tr>

                                <td class="">
                                    <p>{{idProducto}}</p>
                                </td>


                                <td class="area">
                                    <p>{{nameProducto}}</p>
                                </td>
                                <td class="area">
                                    <p>{{codigo}}</p>
                                </td>

                                <td class="prioridad">
                                    <p>{{unidad}}</p>
                                </td>
                                <td class="prioridad">
                                    <p>{{saldo}}</p>
                                </td>
                                <td style="text-align: center">
                                    <button id="{{idProducto}}"  name="" type="button" class="btn btn-primary codigoProducto" data-bs-toggle="modal" data-bs-target="#stockUpdate"><i class="bi bi-pencil-square"></i> Actualizar</button>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


    </div>
</div>


<div class="modal fade" id="stockUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 style="text-align: center" class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <form action="/update-producto" class="needs-validation" novalidate method="post">
                    <div class="container">
                        <div class="row g-2 mb-3">
                            <div class="col-md">

                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="idProducto" name="idProducto" readonly placeholder="">
                                <label for="floatingInput">Id Producto</label>
                            </div>
                            <div class="form-floating mb-3">

                                <input type="text" class="form-control" id="codigoProducto"  readonly placeholder="">
                                <label for="floatingInput">Codigo</label>
                            </div>
                            </div>
                            <div class="col-md">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="saldo" name="saldo" placeholder="" required>
                                <label for="floatingInput">Saldo</label>
                                <div class="invalid-feedback" id="invalid-feedback">
                                    Ingresa el stock a actualizar
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="unidad"  readonly placeholder="">
                                <label for="floatingInput">Unidades</label>
                            </div>

                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="detalles"  readonly placeholder="">
                                <label for="floatingInput">Detalles</label>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="text-align: center" >
                        <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    document.getElementById('codigo').addEventListener('input', function (){
        let codigo= this.value;
        //console.log(codigo);
        fetch('/verificar-codigo',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({codigo:codigo})
        })
                .then(response=>response.json())
                .then(data=>{
                    //console.log(data)
                    if (data.existe) {
                        // El código existe en la base de daitos
                        document.getElementById('codigo').classList.remove('is-valid');
                        document.getElementById('codigo').classList.add('is-invalid');
                        document.getElementById('invalid-feedback').textContent = 'El código ya existe en la base de datos';
                        document.getElementById('sendCodigoProducto').classList.add('disabled')
                    } else {
                        // El código no existe
                        document.getElementById('codigo').classList.remove('is-invalid');
                        document.getElementById('codigo').classList.add('is-valid');
                        document.getElementById('sendCodigoProducto').classList.remove('disabled')
                        //document.getElementById('valid-feedback').textContent = 'El código es correcto';
                    }
                })
                .catch(error=>{
                    console.error("Error")
                })
    })






    const botones = document.querySelectorAll('.codigoProducto');
    //console.log(botones);
    botones.forEach(function (boton) {
        boton.addEventListener('click', function () {
            //console.log("Helou")
            let idProducto = this.getAttribute('id');
            //console.log(idProducto);
            fetch('/datos-producto', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({idProducto: idProducto})
            })
                    .then(response => response.json())
                    .then(data => {
                        let DATA= data.producto;
                        //console.log(DATA);
                        const {idProducto, nameProducto, codigo, saldo, unidad, DetallesProducto}=DATA;
                        const dataProducto={
                            idProducto: DATA.idProducto,
                            nameProducto: DATA.nameProducto,
                            codigo: DATA.codigo,
                            saldo: DATA.saldo,
                            unidad: DATA.unidad,
                            DetallesProducto: DATA.DetallesProducto
                        }
                        //console.log(dataProducto);
                        document.getElementById('exampleModalLabel').textContent=nameProducto;
                        document.getElementById('idProducto').value=idProducto;
                        document.getElementById('codigoProducto').value=codigo;
                        document.getElementById('saldo').value=saldo;
                        document.getElementById('unidad').value=unidad;
                        document.getElementById('detalles').value=DetallesProducto;
                    })
                    .catch(error => {
                        console.error("Error")
                    })
        })
    })






</script>