<div class="container">
    <h1>Detalles de la orden #{{ datos.idOrdenTrabajo}}</h1>

</div>
<h1>Este es el id: {{ datos.idOrdenTrabajo}}</h1>
<h1>Creación</h1>

<p>Nombre del area: {{ datos.nameArea}}</p>
<p>Nombre de la Maquina: {{ datos.nameMaquina}}</p>
<p>Nombre de la descripcion: {{ datos.descripcion}}</p>
<p>Fecha y hora de creación: {{ datos.HoradeCreacion}}</p>
<p>Estado de la maquina: {{ datos.EstadoMaquina}}</p>
<p>Nombre de Creador: {{ datos.Creador}}</p>
<p>Prioridad: {{ datos.Prioridad}}</p>
<p>Status de la orden: {{ datos.Status}}</p>
<p>Status de la orden #: {{ datos.AvenceStatus}}</p>
<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
     aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
         style="width: {{ datos.AvenceStatus}}%">{{ datos.AvenceStatus}}</div>
</div>


<h1>Estatus</h1>
{{#each statuS}}
    <p>{{NameAcepto}}</p>
    <!--<p>{{HoraInicio}}</p>-->
    <p>{{Estado}}</p>
    <p>{{create_at}}</p>

{{/each}}

<!---------------------------------------------------
<p>id: {{Status2.idOrden}}</p>
<p>HoraInicio: {{Status2.HoraInicio}}</p>
<p>Name: {{Status2.NameAcepto}}</p>
<p>Estado: {{Status2.Estado}}</p>
-->
<!-- Tecnicos orden -->

<div>
    {{#if tecnicosOrden}}
        <h1>Tecnicos</h1>
        {{#each tecnicosOrden}}
            <p>{{fullname}}</p>
            <p>{{nameEspecialidad}}</p>
            <p>{{comentariosLider}}</p>
        {{/each}}
    {{else}}
        <h1>Tecnicos</h1>
        <p>Aún no se agregan Tecnicos</p>
    {{/if}}
    {{#if externo}}
        <h1>Trabajo Externo</h1>
        <p>{{externo.nameTipoMantenimiento}}</p>
        <p>{{externo.nameProveedor}}</p>
        <p>{{externo.fechaInicio}}</p>
        <p>{{externo.fechaFinal}}</p>
        <a href="/tecnicoexterno/{{datos.idOrdenTrabajo}}" class="btn btn-primary">Asignar Tecnicos</a>
    {{/if}}


</div>

