<div class="container">
    <h1>Detalles de la orden #{{ datos.idOrdenTrabajo}}</h1>

</div>
<h1>Este es el id: {{ datos.idOrdenTrabajo}}</h1>
<h1>Creación</h1>

<p>Nombre del area: {{ datos.nameArea}}</p>
<p>Nombre de la Maquina: {{ datos.nameMaquina}}</p>
<p>Nombre de la descripcion: {{ datos.descripcion}}</p>
<p>Fecha y hora de creación: {{ datos.HoradeCreacion}}</p>
<p>Estado de la maquina: {{ datos.EstadoMaquina}}</p>
<p>Nombre de Creador: {{ datos.Creador}}</p>
<p>Prioridad: {{ datos.Prioridad}}</p>
<p>Status de la orden: {{ datos.Status}}</p>
<p>Status de la orden #: {{ datos.AvanceStatus}}</p>
<div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0"
     aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
         style="width: {{ datos.AvanceStatus}}%">{{ datos.AvanceStatus}}%</div>
</div>

<p>-----------------------------------</p>
<h1>Estatus</h1>
{{#each statuS}}
    <p>Responsable: {{NameAcepto}}</p>
    <!--<p>{{HoraInicio}}</p>-->
    <p>Estado: {{Estado}}</p>
    <p>Hora{{create_at}}</p>
    {{#when idStatus 'eq' 2}}
    <p></p>
    {{/when}}
    {{#when idStatus 'eq' 3}}
        {{ComentariosLider}}
    {{/when}}
    {{#when idStatus 'eq' 4}}
    <p></p>
    {{/when}}
    {{#when idStatus 'eq' 5}}
        {{ComentariosTecnico}}
    {{/when}}
    {{#when idStatus 'eq' 6}}
        {{ComentariosLider}}
    {{/when}}
    <p>-----------------------------------</p>


{{/each}}

<!-- Tecnicos orden -->

<div>
    {{#if tecnicosOrden}}
        <h1>Tecnicos</h1>
        {{#each tecnicosOrden}}
            <p>{{fullname}}</p>
            <p>{{nameEspecialidad}}</p>
            <p>{{comentariosLider}}</p>
        <p>----------------------------</p>
        {{/each}}
    {{else}}
        <h1>Tecnicos</h1>
        <p>Aún no se agregan Tecnicos</p>
        <a href="/tecnicoexterno/{{datos.idOrdenTrabajo}}" class="btn btn-primary">Asignar Tecnicos</a>

    {{/if}}
    {{#if externo}}
        <h1>Trabajo</h1>
        <p>Tipo Mantenimiento: {{externo.nameTipoMantenimiento}}</p>
        <p>Nombre del Responsable: {{externo.nameProveedor}}</p>
        <p>Fecha Inicio Trabajo: {{externo.fechaInicio}}</p>
        <p>Fecha Final Trabajo: {{externo.fechaFinal}}</p>
    {{/if}}


    {{#when datos.idStatus 'eq' 5 }}
        <button class="btn btn-primary" data-bs-target="#modalFinish"
                data-bs-toggle="modal">Ver Acciones</button>
    {{/when}}

</div>


<div class="modal fade" id="modalFinish" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <div class="card" style="width: 18rem;">
                    <lord-icon
                            src="https://cdn.lordicon.com/fpmskzsv.json"
                            trigger="loop"
                            delay="300"
                            style="width:150px;height:150px">
                    </lord-icon>
                    <div class="card-body">
                        <h5 class="card-title">Terminar y Agregar Comentarios</h5>
                        <p class="card-text">Si al revisar la orden no ha existido detalle alguno pudes proceder a cerrarla, agradecemos tu compromiso con Novared</p>
                        <form action="/finishLiderplanificador" method="post" id="attendTecnico">
                            <textarea class="form-control" name="comentarioLider" id="" cols="30" rows="5" placeholder="Novared siempre agradece tu comentario para poder mejorar" required></textarea>
                            <input type="hidden" value="6" name="status">
                            <input type="hidden" value="{{datos.idOrdenTrabajo}}" name="orden">
                            <button type="submit" class="btn btn-primary">Cerrar Orden</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
