<!-- Nav tabs -->
<ul class="nav nav-tabs nav-fill mb-3">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#ocr">Ordenes Creadas <span> ({{contadorA.contador}}
            )</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#opa">Ordenes Por Asignar <span> ({{contadorA.contador}})</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oacep">Ordenes Aceptadas <span> ({{contadorAs.contador}}
            )</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ot">Ordenes Terminadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oc">Ordenes Cerradas</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">


    <div class="tab-pane container active" id="ocr">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->

                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a asignación.
                        </h1>

                        <table id="table" class="display">

                            <thead>

                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <!-- <th><h6>Creador</h6></th>-->
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Estado Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                                <th><h6 style="text-align: center">Acciones</h6></th>
                            </tr>

                            </thead>

                            <tbody class="list" id="tab">
                            {{#each ordenesPropias }}

                                <tr>
                                    <td class="">
                                        <div class="">
                                            <div class="">
                                                <p>{{idOrdenTrabajo}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="fullname">
                                        <p>{{nameArea}}</p>
                                    </td>
                                    <td class="area">
                                        <p>{{nameMaquina}}</p>
                                    </td>
                                    <td class="estado">
                                        <p>{{nameEstado}}</p>
                                    </td>
                                    <td class="prioridad">
                                        <p>{{namePrioridad}}</p>
                                    </td>
                                    <td style="text-align: center">

                                        <button class="btn btn-primary" data-bs-target="#modalAcciones1"
                                                data-bs-toggle="modal">Ver Acciones
                                        </button>

                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->


        </div>
    </div>
    <div class="tab-pane container fade" id="opa">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->

                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a asignación.
                        </h1>

                        <table id="table2" class="display">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                                <th><h6 style="text-align: center">Acciones</h6></th>
                            </tr>
                            <!--
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            -->
                            <!-- end table row-->
                            </thead>

                            <tbody class="list" id="tab">
                            {{#each ordenesA }}

                                <tr>
                                    <td class="">
                                        <div class="">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="id">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="fullname">
                                        <p>{{fullname}}</p>
                                    </td>
                                    <td class="area">
                                        <p>{{area}}</p>
                                    </td>
                                    <td class="maquina">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="prioridad">
                                        <p>{{prioridad}}</p>
                                    </td>
                                    <td style="text-align: center">

                                        <button class="btn btn-primary" data-bs-target="#modalAcciones2"
                                                data-bs-toggle="modal">Ver Acciones
                                        </button>

                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->


        </div>
    </div>
    <div class="tab-pane container fade" id="oacep">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes asignadas.
                        </h1>

                        <table id="table3" class="display">

                            <thead>
                            <tr>

                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                                <th><h6>Acciones</h6></th>
                            </tr>

                            </thead>

                            <tbody class="list" id="tab">
                            {{#each ordenesAs }}

                                <tr>
                                    <td class="">
                                        <p>{{id}}</p>

                                    </td>
                                    <td class="">

                                        <p>{{fullname}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                    <td style="text-align: center">

                                        <button class="btn btn-primary" data-bs-target="#modalAcciones4"
                                                data-bs-toggle="modal">Ver Acciones
                                        </button>

                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="ot">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesOt }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oc">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesOc }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>


</div>

{{#each ordenesPropias }}
    <div class="modal fade" id="modalAcciones1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 18rem;">

                        <lord-icon
                                src="https://cdn.lordicon.com/ofwpzftr.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Ver</h5>
                            <p class="card-text">Asegurate que los datos ingresados son correctos hechandole un ojo.</p>
                            <a href="/orden/view/1" class="btn btn-primary " id="viewBtn">Ver</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/iiixgoqp.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Editar</h5>
                            <p class="card-text">¿Te equivocaste escribiendo un dato?. Editalo aquí!</p>
                            <a href="/orden/edit/1" class="btn btn-secondary" id="editBtn">Editar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/kfzfxczd.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Eliminar</h5>
                            <p class="card-text">Elimina la orden de manera instantanea y aquí no ha pasado nada!</p>
                            <a href="/orden/delete/{{idOrdenTrabajo}}" class="btn btn-danger" id="deleteBtn">Eliminar</a>


                        </div>
                        <button className="btn btn-primary" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal">Open
                            second modal
                        </button>
                    </div>
                </div>


            </div>
        </div>

    </div>






{{/each}}




    <div class="modal fade" id="modalAcciones2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/nhfyhmlt.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Rechazar</h5>
                            <p class="card-text">Rechazar la orden!</p>
                            <a href="#" class="btn btn-danger">Rechazar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/egiwmiit.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Aceptar</h5>
                            <p class="card-text">Aceptar la orden!</p>
                            <a href="#" class="btn btn-primary">Aceptar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade" id="modalAcciones3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/nhfyhmlt.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Rechazar</h5>
                            <p class="card-text">Rechazar la orden!</p>
                            <a href="/orden/edit/{{id}}" class="btn btn-danger">Rechazar</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/egiwmiit.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Aceptar</h5>
                            <p class="card-text">Aceptar la orden!</p>
                            <a href="/orden/delete/{{id}}" class="btn btn-primary">Aceptar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="modal fade" id="modalAcciones4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/ifqmqwui.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Asignar Suministros</h5>
                            <p class="card-text">Asignar Suministros</p>
                            <a href="/orden/delete/{{id}}" class="btn btn-primary">Asignar Suministros</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/fbdgkenc.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Asignar Tecnicos</h5>
                            <p class="card-text">Asignar Tecnicos</p>
                            <a href="#" data-bs-toggle="collapse" href="#collapseExample" class="btn btn-primary">Asignar
                                Tecnicos</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/winbdcbm.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Trabajo Externo</h5>
                            <p class="card-text">Trabajo Externo</p>
                            <a href="/orden/delete/{{id}}" class="btn btn-primary">Trabajo Externo</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

