<!-- Nav tabs -->
<ul class="nav nav-tabs nav-fill mb-3">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#opa">Ordenes Por Asignar <span> ({{contadorA.contador}})</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oas">Ordenes Asignadas <span> ({{contadorAs.contador}})</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oat">Ordenes Atendidas <span> ({{contadorAt.contador}})</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ot">Ordenes Terminadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oc">Ordenes Cerradas</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">


    <div class="tab-pane container active" id="opa">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a asignación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                                <th><h6 style="text-align: center">Acciones</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesA }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                    <td >
                                        <div style="display: flex; justify-content: center;">
                                            <a href="/orden/view/{{id}}" class=" btn btn-light botonlista">
                                                <i class="bi bi-clipboard2-check"></i> <span>Revisar</span>
                                            </a>
                                            <a href="/orden/assign/{{id}}" class=" btn btn-light botonlista">
                                                <i class="bi bi-pencil-square"></i> <span>Asignar</span>
                                            </a>
                                            <a href="/orden/delete/{{id}}" class=" btn btn-light botonlista">
                                                <i class="bi bi-pencil-square"></i> <span>Eliminar</span>
                                            </a>

                                        </div>

                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>


    <div class="tab-pane container fade" id="oas">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes asignadas.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesAs }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oat">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesAt }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="ot">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesOt }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oc">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesOc }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>


</div>

<script>


</script>


<!--


<a href="/orden/view/{{id}}" class=" botonlista">
                                                    <i class="bi bi-check-circle-fill"></i>
                                                </a>

                                                <a href="/orden/view/{{id}}" class=" botonlista">
                                                    <i class="bi bi-x-circle-fill"></i>
                                                </a>
                                                <a href="/orden/edit/{{id}}" class=" botonlista">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>

                                                <a href="/orden/delete/{{id}}" class=" botonlista">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>

-->