

<!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2 class="tituloorden">Ordenes Aprobadas</h2>
                    </div>
                </div>

                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Ordenes</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Ver todas
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Data Table</h6>
                        <p class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </p>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                                <th><h6>Acciones</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input" data-table="customers-list"  placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesAceptadas }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p><p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                    <td>
                                        <div>
                                            <a href="orden/assign/{{id}}" class=" btn btn-light botonlista">
                                                <i class="bi bi-box-arrow-in-up-right"></i>
                                                <span>Revisar</span>
                                            </a>




                                            <!--


<a href="/orden/view/{{id}}" class=" botonlista">
                                                    <i class="bi bi-check-circle-fill"></i>
                                                </a>

                                                <a href="/orden/view/{{id}}" class=" botonlista">
                                                    <i class="bi bi-x-circle-fill"></i>
                                                </a>
                                                <a href="/orden/edit/{{id}}" class=" botonlista">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>

                                                <a href="/orden/delete/{{id}}" class=" botonlista">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>

-->
                                        </div>

                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <div>

    </div>



</section>
<script>
    today = new Date().toDateString();
    console.log(today)


</script>