
<div class="tables-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <!--<h6 class="mb-10">Data Table</h6>-->

                <h1 style="padding: 20px">Ordenes Cerradas</h1>


                <table id="table2" class="display">
                    <thead>
                    <tr>
                        <th><h6>Id Orden</h6></th>
                        <th><h6>Area</h6></th>
                        <th><h6>Maquina</h6></th>
                        <th><h6>Estado Maquina</h6></th>
                        <th><h6>Prioridad</h6></th>
                        <th><h6 style="text-align: center">Acciones</h6></th>
                    </tr>

                    </thead>

                    <tbody class="list" id="tab">
                    {{#each tecnicosDatosOrden }}

                        <tr>
                            <td class="">
                                <div class="">
                                    <div class="">
                                        <p>{{idOrdenTrabajo}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="fullname">
                                <p>{{nameArea}}</p>
                            </td>
                            <td class="area">
                                <p>{{nameMaquina}}</p>
                            </td>
                            <td class="estado">
                                <p>{{nameEstado}}</p>
                            </td>
                            <td class="prioridad">
                                <p>{{namePrioridad}}</p>
                            </td>
                            <td style="text-align: center">

                                <a class="btn btn-primary" href="/details/{{idOrdenTrabajo}}"
                                >Ver Acciones
                                </a>

                            </td>
                        </tr>

                    {{/each}}
                    </tbody>
                </table>
                <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


</div>
</div>

{{#each ordenesPorAceptar }}
    <div class="modal fade" id="modalAcciones2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Acciones</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/nhfyhmlt.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px; margin: 0 auto">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Rechazar</h5>
                            <p class="card-text">Rechazar la orden!</p>
                            <form action="/orden/decline">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
                                <input type="hidden">
                                <input type="hidden">
                                <input type="hidden">
                            </form>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <lord-icon
                                src="https://cdn.lordicon.com/egiwmiit.json"
                                trigger="loop"
                                delay="300"
                                style="width:150px;height:150px; margin: 0 auto">
                        </lord-icon>
                        <div class="card-body">
                            <h5 class="card-title">Aceptar</h5>
                            <p class="card-text">Aceptar la orden!</p>
                            <form action="/accept" method="post" id="accept">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                <input type="hidden" value="" name="orden" id="orden">
                                <input type="hidden" value="2" name="status">
                                <input type="hidden" value="1" name="tipoMantenimiento">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>


{{/each}}


    <script>
        const table2 = document.getElementById('table2');
        table2.addEventListener('click', (e)=>{
            e.stopPropagation();
            const id=e.target.parentElement.parentElement.children[0].textContent.trim();
            console.log(id);
            document.getElementById("accept").action="/accept/"+id;
            document.getElementById("orden").value=id;

        });
    </script>