<div class="formulario">
    <div class="container">
        <h2>Agregar Orden de Fabricación</h2>
    </div>
    <form action="/agregarof" class="needs-validation" novalidate method="post" id="agregarof"
          name="agregarof">
        <div class="container">
            <div class="row g-2 mb-3">


                <div class="col-md">
                    <label for="idMaquinaria" class="form-label">Maquinaria</label>
                    <select name="idMaquinaria" class="form-select" id="idMaquinaria" required>
                        <option selected disabled value="">Escoge una Maquina</option>
                        {{#each maquinarias}}
                            <option value="{{idMaquinaria}}" name="{{nameMaquinaria}}">{{nameMaquinaria}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona una Maquinaria
                    </div>
                </div>
                <div class="col-md">
                    <label for="idMaterial" class="form-label">Material</label>
                    <select name="idMaterial" class="form-select" id="idMaterial" required>
                        <option selected disabled value="">Escoge un Material</option>
                        {{#each material}}
                            <option value="{{idMaterial}}" name="{{nameMaterial}}">{{nameMaterial}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona un Material
                    </div>
                </div>
            </div>

<div class="inputsHidden">
    <input name="idstatus" type="hidden" value="1">

</div>


                <div class="form-group boton-send">
                    <input type="submit" class="btn btn-success btn-block" id="">
                </div>
            </div>
        </div>

    </form>

</div>




