{{#each HorasEntrada}}
    {{iduser}}
{{/each}}

<div class="tables-wrapper" id="link">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <!--<h6 class="mb-10">Data Table</h6>-->
                <div class="tittleDetails">
                    <h1 style="padding: 20px">Reporte Orden de Fabricación #{{dataOperadorPrincipal.IdOrden}}</h1>
                </div>
                <div class="table-responsive">

                    <table id="table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col"><h6>IdOrden</h6></th>
                            <th scope="col"><h6>NombreOperador</h6></th>
                            <th scope="col"><h6>TipoOperador</h6></th>
                            <th scope="col"><h6>HoraIncioOrden</h6></th>
                            <th scope="col"><h6>HoraFinalOrden</h6></th>
                            <th scope="col"><h6>HorasTrabajadas</h6></th>
                            <th scope="col"><h6>KgProcesados</h6></th>
                            <th scope="col"><h6>Turno</h6></th>
                            <th scope="col"><h6>Maquinaria</h6></th>
                            <th scope="col"><h6>Material</h6></th>
                            <th scope="col"><h6>Horas Para</h6></th>
                            <th scope="col"><h6>Horas Maquina</h6></th>
                            <th scope="col"><h6>Fecha</h6></th>

                            <!--<th scope="col"><h6>HoraMarcacion<h6></th>-->
                        </tr>

                        </thead>

                        <tbody class=" list" id="tab">
                        <tr>
                            <td>{{dataOperadorPrincipal.IdOrden}}</td>
                            <td>{{dataOperadorPrincipal.NombreOperador}}</td>
                            <td>{{dataOperadorPrincipal.TipoOperador}}</td>
                            <td>{{dataOperadorPrincipal.HoraIncioOrden}}</td>
                            <td>{{dataOperadorPrincipal.HoraFinalOrden}}</td>
                            <td class="horasTrabajadas">{{dataOperadorPrincipal.HorasTrabajadas}}</td><!--Este-->
                            <td>{{dataOperadorPrincipal.KgProcesados}}Kg</td>
                            <td>{{dataOperadorPrincipal.Turno}}</td>
                            <td>{{dataOperadorPrincipal.Maquinaria}}</td>
                            <td>{{dataOperadorPrincipal.Material}}</td>
                            <td class="horasPara" >{{horasPara.horasPara}}</td><!--Menos este-->
                            <td class="HorasMaquina">{{horasymin}}</td>
                            <td>{{dataOperadorPrincipal.Fecha}}</td>

                        </tr>

                        </tbody>
                        <thead>


                        </thead>
                        {{#each datosAyudantes}}
                            <tbody class=" list" >
                            <tr id={{idUsuario}}>
                                <td>{{idOrden}}</td>
                                <td>{{fullname}}</td>
                                <td>{{nameTipoOperador}}</td>
                                <td class="fecha1">{{HoraEntrada}}</td>
                                <td class="fecha2">{{HoraSalida}}</td>
                                <td class="">{{horasTotales}}</td><!--Este-->
                                <td></td>
                                <td>{{nameTurno}}</td>
                                <td>{{nameMaquinaria}}</td>
                                <td>{{nameMaterial}}</td>
                                <td></td><!--Menos este-->
                                <td></td>
                                <td></td>
                            </tr>

                            </tbody>
                        {{/each}}

                    </table>

                </div>      <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


</div>
</div>
<button id="btnExportar" class="btn btn-success">Descargar Reporte OF</button>



<div class="tables-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <!--<h6 class="mb-10">Data Table</h6>-->
                <div class="tittleDetails">
                    <h1 style="padding: 20px">Reporte Paras Orden #{{dataOperadorPrincipal.IdOrden}}</h1>
                </div>
                <div class="table-responsive">

                    <table id="table2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col"><h6>IdOrden</h6></th>
                            <th scope="col"><h6>Tipo Para</h6></th>
                            <th scope="col"><h6>Comentarios</h6></th>
                            <th scope="col"><h6>HI Para</h6></th>
                            <th scope="col"><h6>HF Para</h6></th>
                            <th scope="col"><h6>Total Horas</h6></th>

                        </tr>

                        </thead>

                        {{#each datosPara}}
                            <tbody class=" list" id="tab">
                            <tr>
                                <td>{{idOrdenFabricacion}}</td>
                                <td>{{nameTipoPara}}</td>
                                <td>{{comentario}}</td>
                                <td>{{horaInicio}}</td>
                                <td>{{horaFinal}}</td>
                                <td>{{TotalPara}}</td>
                            </tr>

                            </tbody>
                        {{/each}}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total Horas</td>
                            <td>{{horasPara.horasPara}}</td>
                        </tr>
                    </table>

                </div>      <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col
<div style="display: ">
{{#each datosAyudantes}}
    <p id="usuario">{{idUsuario}}</p>
    <p id="idOrden">{{idOrden}}</p>
    <p id="horasTotales">{{horasTotales}}</p>
{{/each}}
</div>

-->
</div>
</div>
<button id="btnExportar2" class="btn btn-success">Descargar Reporte Paras</button>

<div class="tables-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <!--<h6 class="mb-10">Data Table</h6>-->
                <div class="tittleDetails">
                    <h1 style="padding: 20px">Reporte Ingresos y Salidas #{{dataOperadorPrincipal.IdOrden}}</h1>
                </div>
                <div class="table-responsive">

                    <table id="table2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col"><h6>IdOrden</h6></th>
                            <th scope="col"><h6>Nombre</h6></th>
                            <th scope="col"><h6>Hora Entrada</h6></th>
                            <th scope="col"><h6>Hora Salida</h6></th>
                            <th scope="col"><h6>Tiempo Trabajado</h6></th>


                        </tr>

                        </thead>

                        {{#each datosHorasOperadores}}
                            <tbody class=" list" id={{idUsuario}}>
                            <tr>
                                <td>{{idOrden}}</td>
                                <td>{{fullname}}</td>
                                <td>{{HoraEntrada}}</td>
                                <td>{{HoraSalida}}</td>
                                <td>{{TiempoTrabajado}}</td>

                            </tr>

                            </tbody>
                        {{/each}}
                    </table>

                </div>      <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


</div>
</div>
<button id="btnExportar2" class="btn btn-success">Descargar Reporte Paras</button>


</div>

<script>


    document.getElementById('btnExportar2').addEventListener('click', function (){
        const table2excel = new Table2Excel();
        table2excel.export(document.getElementById('table2'));
    })

    const $btnExportar = document.querySelector("#btnExportar");
    const $tabla = document.querySelector("#table");


    $btnExportar.addEventListener("click", function () {
        let tableExport = new TableExport($tabla, {
            exportButtons: true, // No queremos botones
            filename: "Reporte de prueba", //Nombre del archivo de Excel
            sheetname: "Reporte de prueba", //Título de la hoja
            headers: true
        });
        let datos = tableExport.getExportData();
        let preferenciasDocumento = datos.tabla.csv;
        tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);

    });
/*
    //Sacar la cantidad de ayudantes y numero de veces a repetir el bucle
    var Fechas1 = document.querySelectorAll("#tab > tr > td.fecha1");
    //console.log(Fechas1);
    var FechasArray1= Array.prototype.slice.call(Fechas1);
    //console.log(FechasArray1.length);
    for (i=0 ; i<FechasArray1.length; i++){
        var date1= FechasArray1[i].innerHTML;
        //console.log(previs);
        var fechaSplit1 = (date1).split(":");
        t1 = new Date();
        t1.setHours(fechaSplit1[0], fechaSplit1[1], fechaSplit1[2]);
        var hora1= t1.getTime();
        Fecha1=new Date(hora1-18000000);
        const FechaD1= Fecha1.getHours()+":"+Fecha1.getMinutes()+":"+Fecha1.getSeconds();
        //console.log(FechaD1);
        document.getElementsByClassName('fecha1')[i].innerHTML=FechaD1;
    }
    var Fechas2 = document.querySelectorAll("#tab > tr > td.fecha2");
    var FechasArray2= Array.prototype.slice.call(Fechas2);
    for (j=0 ; j<FechasArray2.length; j++){
        var date2= FechasArray2[j].innerHTML;
        //console.log(previs);
        var fechaSplit2 = (date2).split(":");
        //console.log(fechaSplit2);
        t2 = new Date();
        t2.setHours(fechaSplit2[0], fechaSplit2[1], fechaSplit2[2]);
        var hora2= t2.getTime();
        Fecha2=new Date(hora2-18000000);
        const FechaD2= Fecha2.getHours()+":"+Fecha2.getMinutes()+":"+Fecha2.getSeconds();
        document.getElementsByClassName('fecha2')[j].innerHTML=FechaD2;
    }

    //const FechaD2= Fecha2.getHours() ? Fecha2.getHours() : "") + (Fecha2.getMinutes() ? ":" + Fecha2.getMinutes() : "";


    const HorasPara= document.getElementsByClassName('horasPara')[0];
    console.log(HorasPara.innerHTML.length)
    if(HorasPara.innerHTML.length<1){
        document.getElementsByClassName('horasPara')[0].innerHTML="00:00";
    }

 */

    /*
    for (i=0 ; i<FechasArray1.length; i++) {
        var date1= FechasArray1[i].innerHTML;
        var date2= FechasArray2[i].innerHTML;
        var fechaSplit1 = (date1).split(":");
        var fechaSplit2 = (date2).split(":");
        t1=new Date();
        t2=new Date();
        t1.setHours(fechaSplit1[0], fechaSplit1[1], fechaSplit1[2]);
        t2.setHours(fechaSplit2[0], fechaSplit2[1], fechaSplit2[2]);



    }

     */

</script>


