<p>{{detallesOrden.idOrdenFabricacion}}</p>
{{detallesOrden.iduser}}
{{detallesOrden.nameMaquinaria}}
{{detallesOrden.nameTurno}}
{{detallesOrden.nameTipoOperador}}
{{detallesOrden.operador}}
{{detallesOrden.fecha}}