
<div class="tables-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <!--<h6 class="mb-10">Data Table</h6>-->

                <h1 style="padding: 20px">Ordenes de Fabricación</h1>
                <p >Aquí las ordenes de las que formas partes o las que abriste, puedes usar esta ventana para volver a la pantalla de la orden.</p>


                <table id="table1" class="display">
                    <thead>
                    <tr>
                        <th><h6>Id Orden</h6></th>
                        <th><h6>Turno</h6></th>
                        <th><h6>Maquinaria</h6></th>
                        <th><h6>Material</h6></th>
                        <th><h6>Status</h6></th>
                        <th><h6 style="text-align: center">Acciones</h6></th>
                    </tr>

                    </thead>

                    <tbody class="list" id="tab">
                    {{#each ordenesAsignadasOPeradores}}

                        <tr>
                            <td class="">
                                <div class="">
                                    <div class="">
                                        <p>{{idOrdenFabricacion}}</p>
                                    </div>
                                </div>
                            </td>
                            <td class="fullname">
                                <p>{{nameTurno}}</p>
                            </td>
                            <td class="area">
                                <p>{{nameMaquinaria}}</p>
                            </td>
                            <td class="estado">
                                <p>{{nameMaterial}}</p>
                            </td>
                            <td class="estado">
                                <p>{{nameStatus}}</p>
                            </td>

                            <td style="text-align: center">


                                <a href="/detallesofoperador/{{idOrdenFabricacion}}" class="btn btn-primary"><i class="bi bi-eye-fill"></i></a>

                            </td>
                        </tr>

                    {{/each}}
                    </tbody>
                </table>
                <!-- end table -->
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


</div>
</div>





