



    <div class="prueba">
    </div>
<div class="formulario">
    <div class="container">
        <h2>Agregar Orden de Mantenimiento</h2>
    </div>
<form action="/orden/agregarorden" method="post" id="formAgregar">

        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form">
                    <label for="">Area</label>

                    <select name="area" class="form-select" id="area" >
                        <option value="null" selected>Selecciona una por favor</option>
                        {{#each areas}}
                            <option value="{{nombreAreas}}" name="{{nombreAreas}}">{{nombreAreas}}</option>
                        {{/each}}

                    </select>



            <div class="col-md ">
                <div class="form">
                    <label for="">Maquina</label>
                    <select name="maquina" class="form-select" id="maquina" >
                        <option value="null" selected>Selecciona una por favor</option>
                        {{#each maquinas}}
                            <option value="{{nombreMaquina}}" name="{{nombreMaquina}}">{{nombreMaquina}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
        </div>

        <div class="form-floating mb-3">
            <textarea id="descripcion" type="text" class="form-control" name="descripcion" placeholder="Descripción"  required></textarea>
        <label for="floatingInput">Descripción</label>
        </div>




    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
                <select id="prioridad" name="prioridad" class="form-select" id="floatingSelectGrid">
                    <option value="Baja" selected>Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select>
                <label for="floatingSelectGrid">Prioridad</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select name="estado" class="form-select" id="floatingSelectGrid">
                    <option value="Abierto" selected>Abierto</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Cerrado">Cerrado</option>
                </select>
                <label for="floatingSelectGrid">Estado</label>
            </div>
        </div>
    </div>







<div class="form-group boton-send">
    <button class="btn btn-success btn-block" id="liveToastBtn" onclick="test();"> Enviar</button>

</div>

</form>

</div>







