<div class="formulario">
    <div class="container">
        <h2>Agregar Orden de Mantenimiento</h2>
    </div>
    <form action="/orden/agregarorden" method="post" id="formAgregar" name="formularioAgregar">

        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form">
                    <label for="">Area</label>

                    <select name="area" class="form-select" id="area">
                        <option value="null" selected>Selecciona una por favor</option>
                        {{#each area}}
                            <option value="{{idArea}}" name="{{nameArea}}">{{nameArea}}</option>
                        {{/each}}

                    </select>
                    <div id="errorA" style="color: red"></div>


                    <div class="col-md ">
                        <div class="form">
                            <label for="">Maquina</label>
                            <select name="maquina" class="form-select" id="maquina">
                                <option value="null" selected>Selecciona una por favor</option>
                                {{#each maquina}}
                                    <option value="{{idMaquina}}" name="{{nameMaquina}}">{{nameMaquina}}</option>
                                {{/each}}
                            </select>


                        </div>

                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea id="descripcionAO" type="text" class="form-control" name="descripcion"
                             required placeholder="Descripción"></textarea>
                    <label for="floatingInput">Descripción</label>
                </div>
                <div id="errorD" style="color: red"></div>


                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="prioridad" class="form-select" id="prioridad">
                                <option value="null" selected>Selecciona una por favor</option>
                                {{#each prioridad}}
                                    <option value="{{idPrioridad}}" name="{{namePrioridad}}">{{namePrioridad}}</option>
                                {{/each}}
                            </select>
                            <label for="floatingSelectGrid">Prioridad</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="status" class="form-select" id="status">
                                <option value="null" selected>Selecciona una por favor</option>
                                {{#each status}}
                                    <option value="{{idStatus}}" name="{{nameStatus}}">{{nameStatus}}</option>
                                {{/each}}
                            </select>
                            <label for="floatingSelectGrid">Estado</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="estadoMaquina" class="form-select" id="estadoMaquina">
                                <option value="null" selected>Selecciona una por favor</option>
                                {{#each estadoMaquina}}
                                    <option value="{{idEstadoMaquina}}" name="{{nameEstado}}">{{nameEstado}}</option>
                                {{/each}}
                            </select>
                            <label for="floatingSelectGrid">Estado Maquina</label>
                        </div>
                    </div>
                </div>


                <div class="form-group boton-send">
                    <input type="submit" class="btn btn-success btn-block" id="">

                </div>
            </div>
        </div>


    </form>
</div>


<script>


</script>



