<div class="formulario">
    <div class="container">
        <h2>Agregar Orden de Mantenimiento</h2>
    </div>
    <form action="/agregarorden" class="needs-validation" novalidate method="post" id="formAgregar"
          name="formularioAgregar">
        <div class="container">
            <div class="row g-2 mb-3">

                <div class="col-md">
                    <label for="area" class="form-label">Area</label>
                    <select name="area" class="form-select" id="area" required>
                        <option selected disabled value="">Escoge un Area</option>
                        {{#each area}}
                            <option value="{{idArea}}" name="{{nameArea}}">{{nameArea}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona un Area
                    </div>
                </div>

                <div class="col-md">
                    <label for="maquina" class="form-label">Maquina</label>
                    <select name="maquina" class="form-select" id="maquina" required>
                        <option selected disabled value="">Escoge una Maquina</option>
                        {{#each maquina}}
                            <option value="{{idMaquina}}" name="{{nameMaquina}}">{{nameMaquina}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona una Maquina
                    </div>
                </div>

                <div class="mb-3">
                    <label for="validationTextarea" class="form-label">Descripción del Problema</label>
                    <textarea class="form-control" id="validationTextarea" name="descripcion"
                              placeholder="Por favor ingresa una descripción" required></textarea>
                    <div class="invalid-feedback">
                        Por favor ingresa una descripción.
                    </div>
                </div>


                <div class="col-md">
                    <label for="prioridad" class="form-label">Prioridad</label>
                    <select name="prioridad" class="form-select" id="prioridad" required>
                        <option selected disabled value="">Escoge una Prioridad</option>
                        {{#each prioridad}}
                            <option value="{{idPrioridad}}" name="{{namePrioridad}}">{{namePrioridad}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona una Prioridad
                    </div>
                </div>

                <div class="col-md">
                    <label for="estadoMaquina" class="form-label">Estado Maquina</label>
                    <select name="estadoMaquina" class="form-select" id="estadoMaquina" required>
                        <option selected disabled value="">Escoge un Estado</option>
                        {{#each estadoMaquina}}
                            <option value="{{idEstadoMaquina}}" name="{{nameEstado}}">{{nameEstado}}</option>
                        {{/each}}
                    </select>
                    <div class="invalid-feedback">
                        Selecciona un Estado
                    </div>
                </div>

                <div class="inputsHidden">
                    <input type="hidden" value="1" name="idStatus"/>

                </div>
                <div class="form-group boton-send">
                    <input type="submit" class="btn btn-success btn-block" id="">
                </div>
            </div>
        </div>
    </form>

</div>




