<div class="formulario">
    <div class="container">
        <h2>Agregar Orden de Mantenimiento</h2>
    </div>
    <form action="/orden/agregarorden" method="post" id="formAgregar" name="formularioAgregar">

        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form">
                    <label for="">Area</label>

                    <select name="area" class="form-select" id="area">
                        <option value="null" selected>Selecciona una por favor</option>
                        {{#each areas}}
                            <option value="{{nombreAreas}}" name="{{nombreAreas}}">{{nombreAreas}}</option>
                        {{/each}}

                    </select>
                    <div id="errorA" style="color: red"></div>


                    <div class="col-md ">
                        <div class="form">
                            <label for="">Maquina</label>
                            <select name="maquina" class="form-select" id="maquina">
                                <option value="null" selected>Selecciona una por favor</option>
                                {{#each maquinas}}
                                    <option value="{{nombreMaquina}}"
                                            name="{{nombreMaquina}}">{{nombreMaquina}}</option>
                                {{/each}}
                            </select>
                            <div id="errorM" style="color: red"></div>

                        </div>

                    </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea id="descripcionAO" type="text" class="form-control" name="descripcion"
                              placeholder="Descripción"></textarea>
                    <label for="floatingInput">Descripción</label>
                </div>
                <div id="errorD" style="color: red"></div>


                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <select id="prioridad" name="prioridad" class="form-select" id="floatingSelectGrid">
                                <option value="Baja" selected>Baja</option>
                                <option value="Media">Media</option>
                                <option value="Alta">Alta</option>
                            </select>
                            <label for="floatingSelectGrid">Prioridad</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="estado" class="form-select" id="floatingSelectGrid">
                                <option value="Abierto" selected>Abierto</option>
                                <option value="En proceso">En proceso</option>
                                <option value="Cerrado">Cerrado</option>
                            </select>
                            <label for="floatingSelectGrid">Estado</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select name="estadoMaquina" class="form-select" id="floatingSelectGrid">
                                <option value="1" selected>Operativa</option>
                                <option value="2">Parada</option>
                            </select>
                            <label for="floatingSelectGrid">Estado Maquina</label>
                        </div>
                    </div>
                </div>


                <div class="form-group boton-send">
                    <input type="submit" class="btn btn-success btn-block" id="">

                </div>
            </div>
        </div>


    </form>
</div>


<script>


</script>



