<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
    <!-- Admin -->
    {{#when rolusuario 'eq' 1 }}

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">

                        <!-- Ordenes Hoy -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card otrabajo-card">


                                <div class="card-body">
                                    <h5 class="card-title">Ordenes | Hoy</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-card-list"></i>
                                        </div>
                                        <div class="ps-3">

                                            <h6>{{ordenesHoy.ordenesHoy}}</h6>

                                            <span class="text-success small pt-1 fw-bold">{{ordenesTotal.ordenesTotales}}</span>
                                            <span class="text-muted small pt-2 ps-1">Totales</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Ordenes Por Aceptar -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card poraprobar-card">

                                <div class="filter">
                                    <a class="icon" href="/ordenesporaceptar"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>

                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Por Aprobar</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-list-check"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAprobar.ordenesPorAprobar}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->

                        <!-- Ordenes Aprobadas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesaprobadas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Aprobadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-check-circle-fill"></i></div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAprobadas.ordenesPorAprobadas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Asignadas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesasignadas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Asignadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people-fill"></i></div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAsignadas.ordenesPorAsignadas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Por Revisar -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/porrevisar"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Por Revisar <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-search"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesRevisar.ordenesPorRevisar}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Por Externas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/externas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Externas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesExternas.ordenesPorExternas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Por Externas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/cerradas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Terminadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-lines-fill"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesCerradas.ordenesPorCerradas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/todosusuarios"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Usuarios <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-lines-fill"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{nrUsuarios.nrUsuarios}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!---->
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                            <div class="activity">

                                <div class="activity-item d-flex">
                                    <div class="activite-label">32 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a>
                                        beatae
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">56 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                    <div class="activity-content">
                                        Voluptatem blanditiis blanditiis eveniet
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">2 hrs</div>
                                    <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                    <div class="activity-content">
                                        Voluptates corrupti molestias voluptatem
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">1 day</div>
                                    <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                    <div class="activity-content">
                                        Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati
                                        voluptatem</a>
                                        tempore
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">2 days</div>
                                    <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                    <div class="activity-content">
                                        Est sit eum reiciendis exercitationem
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">4 weeks</div>
                                    <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                    <div class="activity-content">
                                        Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                    </div>
                                </div><!-- End activity item-->

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    {{/when}}
    <!-- Lider Mantenimiento -->
    {{#when rolusuario 'eq' 2 }}

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">

                        <!-- Ordenes Hoy -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card otrabajo-card">


                                <div class="card-body">
                                    <h5 class="card-title">Ordenes | Hoy</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-card-list"></i>
                                        </div>
                                        <div class="ps-3">

                                            <h6>{{ordenesHoy.ordenesHoy}}</h6>

                                            <span class="text-success small pt-1 fw-bold">{{ordenesTotal.ordenesTotales}}</span>
                                            <span class="text-muted small pt-2 ps-1">Totales</span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Ordenes Por Aceptar -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card poraprobar-card">

                                <div class="filter">
                                    <a class="icon" href="/ordenesporaceptar"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>

                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">Por Aprobar</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-list-check"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAprobar.ordenesPorAprobar}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->

                        <!-- Ordenes Aprobadas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesaprobadas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Aprobadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-check-circle-fill"></i></div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAprobadas.ordenesPorAprobadas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Asignadas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesasignadas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Asignadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people-fill"></i></div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAsignadas.ordenesPorAsignadas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Por Revisar -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/porrevisar"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Por Revisar <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-search"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesRevisar.ordenesPorRevisar}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Por Externas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/externas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Externas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesExternas.ordenesPorExternas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Por Externas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/cerradas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Terminadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-lines-fill"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesCerradas.ordenesPorCerradas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                            <div class="activity">

                                <div class="activity-item d-flex">
                                    <div class="activite-label">32 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a>
                                        beatae
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">56 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                    <div class="activity-content">
                                        Voluptatem blanditiis blanditiis eveniet
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">2 hrs</div>
                                    <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                    <div class="activity-content">
                                        Voluptates corrupti molestias voluptatem
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">1 day</div>
                                    <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                    <div class="activity-content">
                                        Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati
                                        voluptatem</a>
                                        tempore
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">2 days</div>
                                    <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                    <div class="activity-content">
                                        Est sit eum reiciendis exercitationem
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">4 weeks</div>
                                    <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                    <div class="activity-content">
                                        Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                    </div>
                                </div><!-- End activity item-->

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    {{/when}}
    <!-- Usuario -->
    {{#when rolusuario 'eq' 3 }}

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Agregar Ordenes -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">

                                <div class="card-body">
                                    <h5 class="card-title">Agregar Ordenes <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <a href="/agregarOrden" class=" "><i class="bi bi-plus-circle"></i></a></div>

                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->
                        <!-- Ordenes Propias -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/misordenes"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Mis Ordenes <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <a href="/misordenes"><i class="bi bi-check-circle-fill"></i></a></div>
                                        <div class="ps-3">
                                            <h6>{{ordenesMias.ordenesMias}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Revenue Card -->


                    </div>
                </div><!-- End Left side columns -->



            </div>
        </section>
    {{/when}}
    <!-- Tecnico -->
    {{#when rolusuario 'eq' 4 }}
        <section class="section dashboard">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row">
                        <!-- Agregar Ordenes -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">

                                <div class="card-body">
                                    <h5 class="card-title">Agregar Ordenes <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <a href="/agregarOrden" class=" "><i class="bi bi-plus-circle"></i></a></div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Mis ordenes -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card poraprobar-card">

                                <div class="filter">
                                    <a class="icon" href="/misordenes"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>

                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Mis Ordenes</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-list-check"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAprobar.ordenesPorAprobar}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->
                        <!-- Ordenes Asignadas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesatender"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Por Atender <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-list-ul"></i></div>
                                        <div class="ps-3">
                                            <h6>{{ordenesAsignadas.ordenesPorAsignadas}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </section>
    {{/when}}
    {{#when rolusuario 'eq' 5 }}
        <section class="section dashboard">
            <div class="row">

                <div class="col-lg-8">
                    <div class="row">
                        <!-- Agregar Ordenes -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">

                                <div class="card-body">
                                    <h5 class="card-title">Agregar Orden Fabricación <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <a href="/agregarof" class=" "><i class="bi bi-plus-circle"></i></a></div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Mis ordenes -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card poraprobar-card">

                                <div class="filter">
                                    <a class="icon" href="/ordenesfabricacionabiertas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>

                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Ordenes Abiertas</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-card-list"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{nrOrdenesAbiertas.NrOrdenA}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div><!-- End Sales Card -->
                        <!-- Ordenes Asignadas -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesfabricacion"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Ordenes Asignadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-list-ul"></i></div>
                                        <div class="ps-3">
                                            <h6>{{nrOrdenesAsignadas.NrOrdenAs}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xxl-4 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="filter">
                                    <a class="icon" href="/ordenesfabricacionTerminadas"><i class="bi bi-eye"></i></a>
                                    <a class="icon" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Ordenes Terminadas <!--<span>| This Month</span>--></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-list-ul"></i></div>
                                        <div class="ps-3">
                                            <h6>{{nrOrdenesCerradas.NrOrdenCe}}</h6>
                                            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </section>
    {{/when}}


</div>


