
<div class="formulario">
    <form action="/orden/edit/{{orden.id}}" method="post">
        <label>Nr de orden</label>
        <input type="text" value="{{orden.id}}" class="form-control" name="id" placeholder="Id" readonly required>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form">
                    <label for="">Area</label>

                    <select name="area" class="form-select" id="areas" required>
                        <option value="{{orden.area}}" selected>{{orden.area}}</option>
                        {{#each areas}}
                            <option value="{{nombreAreas}}" name="{{nombreAreas}}">{{nombreAreas}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md ">
                <div class="form">
                    <label for="">Maquina</label>
                    <select name="maquina" class="form-select" id="maquinas">
                        <option value="{{orden.maquina}}" selected>{{orden.maquina}}</option>
                        {{#each maquinas}}
                            <option value="{{nombreMaquina}}" name="{{nombreMaquina}}">{{nombreMaquina}}</option>
                        {{/each}}

                    </select>
                </div>

            </div>
        </div>

        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" name="descripcion" placeholder="Descripción"  required>{{orden.descripcion}}</textarea>
            <label for="floatingInput">Descripción</label>
        </div>




        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select name="prioridad" class="form-select" id="floatingSelectGrid">
                        <option value="Baja" selected>Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                    <label for="floatingSelectGrid">Prioridad</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="estado" class="form-select" id="floatingSelectGrid">
                        <option value="Abierto" selected>Abierto</option>
                        <option value="En proceso">En proceso</option>
                        <option value="Cerrado">Cerrado</option>
                    </select>
                    <label for="floatingSelectGrid">Estado</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="estadoMaquina" class="form-select" id="floatingSelectGrid">
                        <option value="1" selected>Operativa</option>
                        <option value="2">Parada</option>
                    </select>
                    <label for="floatingSelectGrid">Estado Maquina</label>
                </div>
            </div>
        </div>
        <div class="form-group boton-send">
            <button class="btn btn-success btn-block"> Enviar</button>
        </div>
    </form>
</div>