
<div class="formulario">
    <form action="/edit/{{orden.idOrdenTrabajo}}" method="post">
        <label>Nr de orden</label>
        <input type="text" value="{{orden.idOrdenTrabajo}}" class="form-control" name="id" placeholder="Id" readonly required>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form">
                    <label for="">Area</label>

                    <select name="area" class="form-select" id="area">
                        <option value="{{orden.idArea}}" selected>{{orden.nameArea}}</option>
                        {{#each idArea}}
                            <option value="{{idArea}}">{{nameArea}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md ">
                <div class="form">
                    <label for="">Maquina</label>
                    <select name="maquina" class="form-select" id="maquina">
                        <option value="{{orden.idMaquina}}" selected>{{orden.nameMaquina}}</option>

                        {{#each idMaquina}}
                            <option value="{{idMaquina}}" >{{nameMaquina}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
        </div>

        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" name="descripcion" placeholder="Descripción"  required>{{orden.descripcion}}</textarea>
            <label for="floatingInput">Descripción</label>
        </div>




        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select name="prioridad" class="form-select" id="prioridad">
                        <option value="{{orden.idPrioridad}}" selected>{{orden.namePrioridad}}</option>
                        {{#each idPrioridad}}
                            <option value="{{idPrioridad}}" name="{{namePrioridad}}">{{namePrioridad}}</option>
                        {{/each}}
                    </select>
                    <label for="floatingSelectGrid">Prioridad</label>
                </div>
            </div>

            <div class="col-md">
                <div class="form-floating">
                    <select name="estadoMaquina" class="form-select" id="estadoMaquina">
                        <option value="{{orden.estadoMaquina}}" selected>{{orden.nameEstado}}</option>
                        {{#each idEstadoMaquina}}
                            <option value="{{idEstadoMaquina}}" name="{{nameEstado}}">{{nameEstado}}</option>
                        {{/each}}
                    </select>
                    <label for="floatingSelectGrid">Estado Maquina</label>
                </div>
            </div>
        </div>
        <div class="form-group boton-send">
            <button class="btn btn-success btn-block"> Enviar</button>
        </div>
    </form>
</div>

<script>
    let area = document.querySelectorAll(".cajas-texto");

    window.addEventListener("DOMContentLoaded", () => {
        area.forEach((elemento) => {
            elemento.style.height = `${elemento.scrollHeight}px`
        })
    });
</script>