<!--
<div class="projects-section ">


    <div class="projects-section-header">
        <p>Ordenes de Trabajo</p>
        <p class="time">fecha Aquí</p>
    </div>
    <div class="projects-section-line">
        <div class="projects-status">
            <div class="item-status">
                <span class="status-number">45</span>
                <span class="status-type">In Progress</span>
            </div>
            <div class="item-status">
                <span class="status-number">24</span>
                <span class="status-type">Upcoming</span>
            </div>
            <div class="item-status">
                <span class="status-number">62</span>
                <span class="status-type">Total Projects</span>
            </div>

        </div>
        <div class="view-actions">
            <button class="view-btn list-view" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6" />
                    <line x1="8" y1="12" x2="21" y2="12" />
                    <line x1="8" y1="18" x2="21" y2="18" />
                    <line x1="3" y1="6" x2="3.01" y2="6" />
                    <line x1="3" y1="12" x2="3.01" y2="12" />
                    <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                    <rect x="3" y="3" width="7" height="7" />
                    <rect x="14" y="3" width="7" height="7" />
                    <rect x="14" y="14" width="7" height="7" />
                    <rect x="3" y="14" width="7" height="7" /></svg>
            </button>
        </div>
    </div>
    <div class="project-boxes jsGridView">
        <div class="project-box-wrapper">
    {{#each ordenes}}




        <div class="project-box" style="background-color: #97d8f4;">
                <div class="project-box-header">
                    <span></span>

                </div>
                <div class="project-box-content-header">
                    <p class="box-content-header">{{area}}</p>
                    <p class="box-content-subheader">{{maquina}}</p>
                </div>
                <div class="box-progress-wrapper">
                    <p class="box-progress-header">Progreso</p>
                    <div class="box-progress-bar progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example"  aria-valuemin="0" aria-valuemax="100" style="width: {{id}}%"></div>


                        <progress class="" id="file" max="100" value="70">Progreso</progress>

                    <span class="box-progress" style="width: 60%; background-color: #79b87f"></span>
-->

        <!--

                    </div>
                    <p class="box-progress-percentage">{{id}}</p>
                </div>

                </div>
    {{/each}}

        </div>

    </div>

    </div>

</div>
<div class="messages-section">
    <button class="messages-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10" />
            <line x1="15" y1="9" x2="9" y2="15" />
            <line x1="9" y1="9" x2="15" y2="15" /></svg>
    </button>
    <div class="projects-section-header">
        <p>Notificaciones</p>
    </div>
    <div class="messages">
        <div class="message-box">
            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
            <div class="message-content">
                <div class="message-header">
                    <div class="name">Persona ha creado una orden</div>
                    <div class="star-checkbox">
                        <input type="checkbox" id="star-1">
                        <label for="star-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" /></svg>
                        </label>
                    </div>
                </div>
                <p class="message-line">
Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto                 </p>
                <p class="message-line time">
                    Dec, 12
                </p>
            </div>
        </div>
    </div>
</div>

-->

<!--
    <div class="col-md-4 mx-auto container ">
        <h2>Listado de Ordenes</h2>
    </div>

    <div class="input-group mb-3 searchbar">
    <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                          fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></span>
        <input autofocus id="search" type="text" class="form-control search-input" data-table="customers-list"
               placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Orden Nr</th>
            <th scope="col">Area</th>
            <th scope="col">Maquina</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>


        <tbody id="tab">
        {{#each ordenes}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{area}}</td>
                <td>{{maquina}}</td>
                <td>{{prioridad}}</td>
                <td>
                    <div>
                        <a href="/orden/view/{{id}}" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                            </a>

                        <a href="/orden/edit/{{id}}" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                            </a>

                        <a href="/orden/delete/{{id}}" class="btn btn-danger bi bi-trash">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            </a>


                    </div>

                </td>


            </tr>
        {{else}}
            <div class="col-md-4 mx-auto ">

                <tr>
                    <th colspan="5" scope="row" class="this">
                        <p class="nothing">No hay nada aquí</p> <br>
                        <img src=""><br>
                        <a href="/orden/agregarOrden" class="btn btn-primary make">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                            Crear una</a>
                    </th>


                </tr>
            </div>
        {{/each}}
        </tbody>

    </table>

-->



<!-- ========== table components start ========== -->
<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2 class="tituloorden">Ordenes Prestas a Aprobación</h2>
                    </div>
                </div>

                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#0">Ordenes</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Ver todas
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Data Table</h6>
                        <p class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </p>

                            <table class="table">

                                <thead>
                                <tr>
                                    <th><h6>Id Orden</h6></th>
                                    <th><h6>Creador</h6></th>
                                    <th><h6>Area</h6></th>
                                    <th><h6>Maquina</h6></th>
                                    <th><h6>Prioridad</h6></th>
                                    <th><h6>Acciones</h6></th>
                                </tr>
                                <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                    <input autofocus id="search" type="text" class="form-control search-input" data-table="customers-list"  placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <!-- end table row-->
                                </thead>

                                <tbody id="tab">
                                {{#each ordenes }}

                                    <tr>
                                        <td class="">
                                            <div class="lead">
                                                <!--
                                                <div class="lead-image">
                                                    <img
                                                            src="assets/images/lead/lead-1.png"
                                                            alt=""
                                                    />
                                                </div>
                                                -->
                                                <div class="lead-text">
                                                    <p>{{id}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class=" nombreCompleto">
                                            <p><p href="">{{fullname}}</p></p>
                                        </td>
                                        <td class="">
                                            <p type="date">{{area}}</p>
                                        </td>
                                        <td class="">
                                            <p>{{maquina}}</p>
                                        </td>
                                        <td class="">
                                            <p>{{prioridad}}</p>
                                        </td>
                                        <td>
                                            <div>
                                                <a href="/orden/view/{{id}}" class=" btn btn-light botonlista">
                                                    <i class="bi bi-clipboard2-check"></i>                                                    <span>Revisar</span>
                                                </a>






<!--


<a href="/orden/view/{{id}}" class=" botonlista">
                                                    <i class="bi bi-check-circle-fill"></i>
                                                </a>

                                                <a href="/orden/view/{{id}}" class=" botonlista">
                                                    <i class="bi bi-x-circle-fill"></i>
                                                </a>
                                                <a href="/orden/edit/{{id}}" class=" botonlista">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>

                                                <a href="/orden/delete/{{id}}" class=" botonlista">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>

-->
                                            </div>

                                        </td>
                                    </tr>

                                {{/each}}
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    <div>

</div>



    </section>
    <script>
        today = new Date().toDateString();
        console.log(today)


    </script>