<!-- Nav tabs -->
<ul class="nav nav-tabs nav-fill mb-3">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#opa">Ordenes Creadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oa">Ordenes Aprobadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oas">Ordenes Asigandas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oat">Ordenes Atendidas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#ot">Ordenes Terminadas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#oc">Ordenes Cerradas</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane container active" id="opa">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                                <th><h6 style="text-align: center">Acciones</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenes }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                    <td>

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Launch demo modal
                                        </button>





                                        <!--
                                        <div class="btn-group btn-primary" style="display: flex; text-align: center">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/orden/view/{{id}}"  class="dropdown-item botonlista"><i class="bi bi-clipboard2-check"></i> <span>Revisar</span></a></li>
                                                <li><a href="/orden/edit/{{id}}" class="dropdown-item botonlista"><i class="bi bi-pencil-square"></i> <span>Editar</span></a></li>
                                                <li><a href="/orden/delete/{{id}}"  class="dropdown-item botonlista"><i class="bi bi-pencil-square"></i> <span>Eliminar</span></a></li>

                                            </ul>
                                        </div>
                                        -->
                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oa">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes aprobadas.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesA}}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>


                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oas">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes asignadas.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesAs }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oat">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesAt }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="ot">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesOt }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <!--
                                            <div class="lead-image">
                                                <img
                                                        src="assets/images/lead/lead-1.png"
                                                        alt=""
                                                />
                                            </div>
                                            -->
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>

                                </tr>

                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
    <div class="tab-pane container fade" id="oc">
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <!--<h6 class="mb-10">Data Table</h6>-->
                        <h1 class="text-sm mb-20">
                            A continuación se presentan las ordenes prestas a aprobación.
                        </h1>

                        <table class="table">

                            <thead>
                            <tr>
                                <th><h6>Id Orden</h6></th>
                                <th><h6>Creador</h6></th>
                                <th><h6>Area</h6></th>
                                <th><h6>Maquina</h6></th>
                                <th><h6>Prioridad</h6></th>
                            </tr>
                            <div class="input-group mb-3 searchbar">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="bi bi-search"></i>
                                    </span>
                                <input autofocus id="search" type="text" class="form-control search-input"
                                       data-table="customers-list" placeholder="Buscar" aria-label="Username"
                                       aria-describedby="basic-addon1">
                            </div>
                            <!-- end table row-->
                            </thead>

                            <tbody id="tab">
                            {{#each ordenesOc }}

                                <tr>
                                    <td class="">
                                        <div class="lead">
                                            <div class="lead-text">
                                                <p>{{id}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=" nombreCompleto">
                                        <p>
                                        <p href="">{{fullname}}</p></p>
                                    </td>
                                    <td class="">
                                        <p type="date">{{area}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{maquina}}</p>
                                    </td>
                                    <td class="">
                                        <p>{{prioridad}}</p>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        <!-- end table -->
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
</div>





<div class="modal" id="revisar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title fs-5" id="exampleModalLabel">Ver orden</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="formulario">
                    <form action="/orden/view/{{orden.id}}" method="post">
                        <label>Nr de orden</label>
                        <input type="text" value="{{orden.id}}" class="form-control" name="idOrden" readonly required>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form">

                                    <label for="">Area Destinada</label>
                                    <input type="text" value="{{orden.area}}" class="form-control" name="area" placeholder="Id"
                                           readonly
                                           required>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md ">
                                <div class="form">
                                    <label for="">Maquina Destinada</label>
                                    <input type="text" value="{{orden.maquina}}" class="form-control" name="Maquina"
                                           placeholder="Id"
                                           readonly required>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
            <textarea id="descripcionView" class="form-control cajas-texto" name="descripcion" placeholder="Descripción"
                      readonly
                      required>{{orden.descripcion}}</textarea>
                            <label for="floatingInput">Descripción del problema</label>
                        </div>


                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" value="{{orden.prioridad}}" class="form-control" name="prioridad"
                                           placeholder="Id"
                                           readonly required>
                                    <label for="floatingInput">Prioridad de la orden</label>

                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" value="{{orden.estado}}" class="form-control" name="estado" placeholder="Id"
                                           readonly required>

                                    <input type="hidden" value="{{orden.user_id}}" class="form-control" name="idUserCreo">
                                    <!--<input type="hidden" value="{{user.id}}" class="form-control" name="idUserCreo">-->

                                    <label for="floatingInput">Estado de la orden</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" value="{{orden.nameEstado}}" class="form-control" name="estado" placeholder="Id"
                                           readonly required>
                                    <label for="floatingInput">Estado de la Maquina</label>
                                </div>

                            </div>
                            <!--
                                <div class="form-floating mb-3">
                                                <textarea id="descripcionVO" type="text" class="form-control" name="comentariosSupervisor"
                                                          placeholder="Comentarios" required></textarea>
                                    <label for="floatingInput">Comentarios</label>
                                </div>
                            -->
                        </div>


                    </form>
                </div>





            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <a type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</a>
                <a class="btn btn-primary" data-bs-target="#editar" data-bs-toggle="modal">Editar</a>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title fs-5" id="exampleModalLabel">Editar orden</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="formulario">
                    <form action="/orden/edit/{{orden.id}}" method="post">
                        <label>Nr de orden</label>
                        <input type="text" value="{{orden.id}}" class="form-control" name="id" placeholder="Id" readonly required>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form">
                                    <label for="">Area</label>

                                    <select name="area" class="form-select" id="areas" required>
                                        <option value="{{orden.area}}" selected>{{orden.area}}</option>
                                        {{#each areas}}
                                            <option value="{{nombreAreas}}" name="{{nombreAreas}}">{{nombreAreas}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md ">
                                <div class="form">
                                    <label for="">Maquina</label>
                                    <select name="maquina" class="form-select" id="maquinas">
                                        <option value="{{orden.maquina}}" selected>{{orden.maquina}}</option>
                                        {{#each maquinas}}
                                            <option value="{{nombreMaquina}}" name="{{nombreMaquina}}">{{nombreMaquina}}</option>
                                        {{/each}}

                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea type="text" class="form-control" name="descripcion" placeholder="Descripción"  required>{{orden.descripcion}}</textarea>
                            <label for="floatingInput">Descripción</label>
                        </div>




                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <select name="prioridad" class="form-select" id="floatingSelectGrid">
                                        <option value="Baja" selected>Baja</option>
                                        <option value="Media">Media</option>
                                        <option value="Alta">Alta</option>
                                    </select>
                                    <label for="floatingSelectGrid">Prioridad</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <select name="estado" class="form-select" id="floatingSelectGrid">
                                        <option value="Abierto" selected>Abierto</option>
                                        <option value="En proceso">En proceso</option>
                                        <option value="Cerrado">Cerrado</option>
                                    </select>
                                    <label for="floatingSelectGrid">Estado</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <select name="estadoMaquina" class="form-select" id="floatingSelectGrid">
                                        <option value="1" selected>Operativa</option>
                                        <option value="2">Parada</option>
                                    </select>
                                    <label for="floatingSelectGrid">Estado Maquina</label>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="form-group boton-send">
                            <button class="btn btn-success btn-block"> Enviar</button>
                        </div>-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Guardar Cambios</button>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title fs-5" id="exampleModalLabel">Ver orden</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="formulario">
                    <form action="/orden/view/{{orden.id}}" method="post">
                        <label>Nr de orden</label>
                        <input type="text" value="{{orden.id}}" class="form-control" name="idOrden" readonly required>


                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form">

                                    <label for="">Area Destinada</label>
                                    <input type="text" value="{{orden.area}}" class="form-control" name="area" placeholder="Id"
                                           readonly
                                           required>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md ">
                                <div class="form">
                                    <label for="">Maquina Destinada</label>
                                    <input type="text" value="{{orden.maquina}}" class="form-control" name="Maquina"
                                           placeholder="Id"
                                           readonly required>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
            <textarea id="descripcionView" class="form-control cajas-texto" name="descripcion" placeholder="Descripción"
                      readonly
                      required>{{orden.descripcion}}</textarea>
                            <label for="floatingInput">Descripción del problema</label>
                        </div>


                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" value="{{orden.prioridad}}" class="form-control" name="prioridad"
                                           placeholder="Id"
                                           readonly required>
                                    <label for="floatingInput">Prioridad de la orden</label>

                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" value="{{orden.estado}}" class="form-control" name="estado" placeholder="Id"
                                           readonly required>

                                    <input type="hidden" value="{{orden.user_id}}" class="form-control" name="idUserCreo">
                                    <!--<input type="hidden" value="{{user.id}}" class="form-control" name="idUserCreo">-->

                                    <label for="floatingInput">Estado de la orden</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" value="{{orden.nameEstado}}" class="form-control" name="estado" placeholder="Id"
                                           readonly required>
                                    <label for="floatingInput">Estado de la Maquina</label>
                                </div>

                            </div>
                            <!--
                                <div class="form-floating mb-3">
                                                <textarea id="descripcionVO" type="text" class="form-control" name="comentariosSupervisor"
                                                          placeholder="Comentarios" required></textarea>
                                    <label for="floatingInput">Comentarios</label>
                                </div>
                            -->
                        </div>


                    </form>
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





