<div class="formulario">
    <div class="container">
        <h2>Ver Orden</h2>
    </div>

    <form action="/orden/view/{{orden.id}}" method="post">
        <label>Nr de orden</label>
        <input type="text" value="{{orden.idOrdenTrabajo}}" class="form-control" name="idOrden" readonly required>
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form">
                    <label for="">Area Destinada</label>
                    <input type="text" value="{{orden.nameArea}}" class="form-control" name="area" placeholder="Id"
                           readonly
                           required>
                </div>
            </div>
            <div class="col-md ">
                <div class="form">
                    <label for="">Maquina Destinada</label>
                    <input type="text" value="{{orden.nameMaquina}}" class="form-control" name="Maquina"
                           placeholder="Id"
                           readonly required>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <textarea id="descripcionView" class="form-control cajas-texto" name="descripcion" placeholder="Descripción"
                      readonly
                      required>{{orden.descripcion}}</textarea>
            <label for="">Descripción del problema</label>
        </div>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" value="{{orden.namePrioridad}}" class="form-control" name="prioridad"
                           placeholder="Id"
                           readonly required>
                    <label for="floatingInput">Prioridad de la orden</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" value="{{orden.nameEstado}}" class="form-control" name="estado" placeholder="Id"
                           readonly required>
                    <label for="floatingInput">Estado de la maquina</label>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" href="javascript:history.back()"><i class="bi bi-arrow-left-square"></i></i>
                <span>Volver</span>
            </a>
        </div>
    </form>
</div>





<script>
    let area = document.querySelectorAll(".cajas-texto");

    window.addEventListener("DOMContentLoaded", () => {
        area.forEach((elemento) => {
            elemento.style.height = `${elemento.scrollHeight}px`
        })
    });
</script>